[2014-07-07 11:19] Garbee opened #1 "Floats for storing money?"
Why is float being used to store currency values over a decimal field? Float storage is _[known](http://stackoverflow.com/a/3730040)_ to not accurately represent currency since it doesn't work in base 10.

If things are going to be stored in cents, then an integer field type should be used. Otherwise a decimal type should be used since it can accurately store currencies.

[2014-07-07 14:44] #1 closed, assigned to nobody

[2014-08-24 15:05] rauanmayemir opened #9 "Extending stripe with custom payment processing gateway"
It might beg the question why the hell would I want to use something other than Stripe, but unfortunately we don't have Stripe. We do, however, have other processing systems, but charging money is somewhat cumbersome anyway. Because of the laws and regulations regarding private data, you'd have to get a license for storing credit card information, which is obviously not that easy. Not to mention t

[2014-08-24 17:23] #9 closed, assigned to nobody

[2014-08-26 19:53] t2thec opened #10 "Adding a card: user_id cannot be null - It isn't"
Hi ya guys,

I am adding a card. Stripe is accepting it fine. However, I am trying to store the returned data to the migrated <code>Cards</code> Model.

I am getting an <code>SQL</code> error:

[code]

I am passing the <code>users_id</code> through and have checked it is in the array being passed. I can't seem to figure out why it isn't accepting it.

Any ideas to why this isn't working? Many than

[2014-08-27 07:59] #10 closed, assigned to nobody

[2014-09-08 08:57] apps4u opened #12 "GuzzleClient not found"
Hi I was getting a error during composer update , The theme compiling post command would fail it said that GuzzleClient with missing in src/Api/Stripe.php .
So I don't know weather to change line 316

[code]

or change the import to

[code]

or

[code]

[2014-09-08 09:02] #12 closed, assigned to nobody

[2014-09-10 05:28] apps4u opened #13 "migration issue"
HI Ive just created the new migration file which created a migration file named MigrationCartalystVersion1_0_0 but when I try to run the migration I get a error saying the file dose not exists and the error is in line 301 in vendor/laravel/framework/src/Illuminate/Database/Migrations/Migrator.php
The reason for the error its looking for a file named  MigrationCartalystVersion100 So I tried to chan

[2014-09-10 13:24] #13 closed, assigned to nobody

[2014-09-16 03:42] ninjaparade opened #14 "Stripe Package not found"
Hey guys,

i've been struggling with this for a couple hours now. Looks like the Stripe package is not included in your statis build.

[code]

returns nothing

When I run <pre>composer update/install</pre> I get the following error.

[code]

[2014-09-16 03:51] #14 closed, assigned to nobody

[2014-09-25 02:37] apps4u opened #15 "attachStripeCustomer issue"
Hi I kept getting a error when trying to connect a stripe customer to a user in my system for example I tried this method

[code]

But I keep getting a error saying that a Cartalyst/Stripe/Api/Response was expected but a Cartalyst/Stripe/Api/Customer  was given . so I was able to fix this by changing the AttachStripeCustomer method in the BillableTrait and BillableInterface to

[code]

with use st

[2014-09-25 03:11] #15 closed, assigned to nobody

[2014-10-14 23:13] ninjaparade opened #16 "Using Alias throws exception"
This used to work for me

[code]

currently throws error `Undefined variable: pluralMethod`

Where as using it this way still works.

[code]

[2014-10-14 23:14] #16 closed, assigned to nobody

[2014-10-22 16:09] stephenfritz opened #17 "Documentation outdated."
[Documentation says:](https://cartalyst.com/manual/stripe#migrations)
## Migrations

Now you need to migrate your database, but before doing that, you'll need to generate a migration that suits your billable table and to do this you just need to run the following command:

`php artisan stripe:table users`

however the actual artisan command is

`php artisan stripe:migrator users`

[2014-10-22 16:17] #17 closed, assigned to nobody

[2014-12-27 01:25] lcmpharry opened #19 "storeSubscription usage problem in SubscriptionGateway.php"
Hey guys,

notice a problem in using storeSubscription. problem happens in this line:

[code]

In some cases the passed in object is a response and in some cases the object is a subscription.
response's id is a stripe_id however

[code]

a subscription's id is a db id.

[code]

[2014-12-27 04:46] #19 closed, assigned to nobody

[2015-01-02 18:01] brunogaspar opened #20 "Update to Guzzle 5"
It makes sense to upgrade to Guzzle 5 as it's way more faster, the only issue is that the required Guzzle package (guzzlehttp/guzzle-services) doesn't have a stable release as of yet, it's on `0.5` at this moment, which isn't that bad, but the lack of documentation makes it a bit of a challenge :)

[2015-01-05 18:51] ninjaparade opened #21 "Billable all gone?"
While I agree with the intention that @brunogaspar is recommending with this commit, https://github.com/cartalyst/stripe/commit/fd3aee23a0a13a695baccc95afa549d7ec3d130d I do find it a touch scary that this was done before the other package was available.

Wouldn't bumping the major version be a good idea with this breaking change as well to not break anything targeting 0.2.0?

Looking forward to t

[2015-01-05 18:52] #21 closed, assigned to nobody

[2015-02-18 05:33] #20 closed, assigned to nobody

[2015-04-30 17:28] monove opened #22 "Changing default_source (default card) of a Customer"
I can't see a way of setting a card as default
In the Stripe API tis can be done as such
[code]
Is this the `source` field in https://cartalyst.com/manual/stripe/1.0#update-a-customer ?

[2015-04-30 17:36] #22 closed

[2015-05-11 07:32] sdeering opened #23 "Pagination"
Hi guys, is there a pagination example anywhere? The docs are inconclusive about it.

Just below this section it states you can use this to create pagination.

[code]

Doesn't state: a) how many is in the page b) which page your on c) how to query a specific pages?

https://cartalyst.com/manual/stripe/1.0#usage-2

[2015-05-11 08:56] brunogaspar commented on #23
Hello,

The iterator is not supposed to work like that, it's supposed to only return all the results from Stripe on one go, if you need real pagination, you need to store these on your database and paginate yourself.

[2015-05-11 08:56] #23 closed

[2015-05-11 12:48] sdeering commented on #23
Ok I understood. So can you explain the purpose of the interator if it just
returns the same as all()?

On Monday, 11 May 2015, Bruno Gaspar <notifications@github.com> wrote:

[2015-05-11 12:52] GrahamCampbell commented on #23
No... That's not the same. An iterator could allow you to traverse a large amount of data without having to actually load it all into memory at once. You can load chunks at a time, while keeping a bog standard foreach, or whatever.

[2015-05-11 12:54] sdeering commented on #23
Ok thanks for explaining if you get the time maybe add something quick as
an example code to the docs. It would greatly help those who have a large
data set. I might be looking at around 3-5,000 subscriptions.

On Monday, 11 May 2015, Graham Campbell <notifications@github.com> wrote:

[2015-05-11 13:36] brunogaspar commented on #23
@sdeering Not sure if you're using Laravel, but if you're, you can use the Laravel Paginator for this, you can have for example a cron job where you call the iterator and you cache the response, like, hourly, then you use the Laravel Paginator to have the results paginated, one easy solution.

Other solution would be to store the results on your database, as i mentioned, this way you can easily pa

[2015-05-11 14:08] sdeering commented on #23
Thanks Bruno that is fantastic advice. I have the ability to code any one
of the 3 examples you mentioned and will go as you suggested and store
results in the database and have the cron (Larevel 5 subscriber) tasks help
keep the data up to date. With also probably an admin function to manually
refresh. I will follow up with a blog post if I have some spare time to
share knowledge with others. Tha

[2015-06-03 14:58] monove opened #24 "Missing Managed Account Functionality"
In the Stripe API, there are multiple calls related to Managed Accounts (ie https://stripe.com/docs/api#create_account).

Any ETA on when this will be implemented by Cartalyst?

[2015-06-03 15:08] brunogaspar commented on #24
Hello,

There's no ETA, you can send a PR if you want.

[2015-06-03 15:08] #24 closed

[2015-06-03 18:35] monove commented on #24
I am not familiar enough with the PR flow to know what to do.
I forked this repo and made changes here: https://github.com/monove/stripe/blob/1.0/src/Api/Account.php
I tested all these calls and they work flawlessly.
Would you consider merging this is?

[2015-06-03 18:46] brunogaspar commented on #24
Of course, submit the PR to the `1.0` branch =)

[2015-06-03 19:22] monove commented on #24
https://github.com/cartalyst/stripe/pull/25/

[2015-06-09 11:10] devendragohil opened #26 "[Proposal] Create customer's recurring profile along with credit card details and subscription plan"
As per Stripe document https://stripe.com/docs/subscriptions#subscribing-a-customer-to-a-plan , if I provide the credit card details and plan while creating a new customer, the card will be charged immediately and will return the response once done. My project requirement is the same. I want to subscribe the customer to a recurring plan while creating him and also want the first payment must be do

[2015-06-09 13:28] brunogaspar commented on #26
You can either:
- [Attach a card](https://cartalyst.com/manual/stripe/1.0#cards) to a customer without charging him and then you create a subscription.
- When you're creating a subscription you provide the card, either a Stripe Token or an array (check the previous link to see how you should populate the array with the key/value pairs).

You can read more about how to create subscriptions [here](h

[2015-06-09 13:28] #26 closed

[2015-06-10 09:00] devendragohil opened #27 "WAMP - GuzzleHttp \ Exception \ RequestException cURL error 60: SSL certificate problem"
I am using WAMP 2.5 with PHP 5.5.12 and Apache 2.4.9 with Windows 8.1.

I am working on Laravel 4.2 project and recently I've installed this package using composer. I am trying to create token using your package's sample code https://cartalyst.com/manual/stripe/1.0#tokens , with localhost. The sample code is as below :

$stripe = new Stripe;
$stripe = Stripe::make('my-stripe-test-public-key');

$t

[2015-06-10 11:15] brunogaspar commented on #27
It's an issue on your environment, have a read here https://laracasts.com/discuss/channels/general-discussion/curl-error-60-ssl-certificate-problem-unable-to-get-local-issuer-certificate there are quite a few suggestions for your problem.

[2015-06-10 11:15] #27 closed

[2015-06-30 19:58] mathewpeterson opened #28 "[Proposal] Remove tests from distribution"
It would be nice if you could exclude your tests and unused files from distributions. See: http://blog.madewithlove.be/post/gitattributes/

[2015-06-30 20:00] brunogaspar commented on #28
Sure, wanna send a PR for it?

[2015-06-30 20:12] mathewpeterson commented on #28
PR #29 has been created.

[2015-06-30 20:14] #28 closed

[2015-07-02 13:11] GrahamCampbell opened #30 "Iterator For Pagination"
Would it not be better to return an iterator for the pagination instead of trying to load everything into memory, which will end in a mess for very large data sets.

[2015-07-02 13:12] GrahamCampbell opened #31 "Guzzle 6 Support"
Is guzzle 6 support planned?

[2015-07-02 14:27] brunogaspar commented on #31
Not at the moment, Guzzle 5 works fine.

[2015-07-02 14:27] #31 closed

[2015-07-02 14:35] brunogaspar commented on #30
Probably on the next version, but if you want to send a PR that keeps the current behaviour, go for it.

[2015-07-02 14:37] GrahamCampbell commented on #30
Sure. I'm a bit busy now, so ping me in a few days if I forget to do this. :)

[2015-07-02 14:38] brunogaspar commented on #30
Ok, i'll leave it open.

[2015-07-02 14:38] GrahamCampbell commented on #31
Ok, it's just that Laravel 5.2 doesn't support guzzle 5 so people wanting to use this package in the future along side laravel's mail component for example will run into bother.

[2015-07-02 14:39] GrahamCampbell commented on #31
Guzzle 5 support in laravel 5.1 is already deprecated.

[2015-07-02 16:45] brunogaspar commented on #31
When L5.2 gets released we'll worry about supporting it, at the moment, i'm not worried or even concerned.

[2015-07-02 16:47] GrahamCampbell commented on #31
Ok, sure. I was just thinking ahead. :)

[2015-07-08 17:00] GrahamCampbell opened #33 "ALL phpdoc is wrong!"
All of your code is documented as returning `\GuzzleHttp\Message\ResponseInterface` but it doesn't. It returns an array...

[2015-07-08 17:04] brunogaspar commented on #33
Will get it fixed.

[2015-07-08 17:04] #33 closed

[2015-07-08 20:41] GrahamCampbell opened #34 "BindingResolutionException"
Target [Cartalyst\Stripe\ConfigInterface] is not instantiable

Get this exception when using your laravel package. The interface is never bound to a concretion?

[2015-07-09 00:49] brunogaspar commented on #34
Can't reproduce.

[2015-07-09 08:15] GrahamCampbell commented on #34
I'll send a PR to the laravel pacakge. Had time to sleep on it and I'm pretty sure I know why this isn't working now.

[2015-07-09 08:22] GrahamCampbell commented on #34
See https://github.com/cartalyst/stripe-laravel/pull/3.

[2015-07-09 10:26] brunogaspar commented on #34
Still, this doesn't really explain why it's giving that error.

You haven't showed me how to reproduce your error either.

I have it working fine on a 4.2 application and it's successfully working on 5.1 as well which was recently upgraded from 5.0.

[2015-07-09 10:26] GrahamCampbell commented on #34
Oh right, it happens when I try to dependency inject any of the classes in the API namespace.

[2015-07-09 10:28] brunogaspar commented on #34
Seems weird, why are you doing that?

[2015-07-09 10:29] GrahamCampbell commented on #34
Well, because that's the object I want?

[2015-07-09 10:33] brunogaspar commented on #34
Ok i see.

Send to 1.0 instead please, i'll merge it back to 2.0 after.

[2015-07-09 10:33] #34 closed

[2015-07-09 10:33] GrahamCampbell commented on #34
Ok. :)

[2015-07-09 10:36] GrahamCampbell commented on #34
See https://github.com/cartalyst/stripe-laravel/pull/4.

[2015-08-01 18:50] phroggyy commented on #30
@GrahamCampbell stumbled across this issue by chance, is this anything you've had any time to think about?

[2015-08-01 19:49] GrahamCampbell commented on #30
I'll see if I can fit this in next week. :)

[2015-08-08 15:34] winglian opened #35 "Cartalyst\Stripe\Utility::convertToNumber doesn't work for 17.99"
This is mostly because PHP doesn't juggle floats to int well. But there should be a way to input the cents directly as I'm sure there are other edge cases such as

`(int) (17.99 * 100) == 1798`

[2015-08-08 15:59] brunogaspar commented on #35
It's because of the `(int)` casting.

[2015-08-08 16:02] winglian commented on #35
@brunogaspar I know that. I'm opening this bug because Cartalyst REQUIRES that we use the USD format of 17.99 and DOESN'T allow us to pass in cents (1799) and bypass the Cartalyst\Stripe\Utility::prepareParameters() method.

[2015-08-08 16:05] brunogaspar commented on #35
Ya, will have a look next week.

[2015-08-08 19:04] brunogaspar commented on #35
I've actually went ahead and did some changes.

Pushed to the [feature/fix-amount-converter](https://github.com/cartalyst/stripe/tree/feature/fix-number-converter) branch with some tests on this commit https://github.com/cartalyst/stripe/commit/2a3c1747cb211146dcc8017d97c9e7582b4f13d5.

Let me know your thoughts and if it works as expected now.

[2015-08-21 11:42] canfiax opened #36 "Stripe Connect"
I am about to integrate Stripe Connect in my Laravel 5.1 project.

 - Does this package support Stripe Connect?
 - Is there any documentation on how to implement (i.e. connecting users on a standalone account https://stripe.com/docs/connect/standalone-accounts#connecting-users).

[2015-08-21 12:28] brunogaspar commented on #36
You will need to create a new instance of the package (its on the documentation) and instead of your API Key you set the API Key of the connect account.

The API to interact is the same so everything should work as it normally would.

[2015-08-21 12:28] #36 closed

[2015-08-24 09:50] canfiax opened #37 "Create account"
How do you create an account?

I need to use Stripe Connect, and create an account on behalf of the user.

[2015-08-24 10:08] canfiax commented on #37
Like so: https://stripe.com/docs/connect/deferred-accounts#creating-a-standalone-account

[2015-08-24 10:25] brunogaspar commented on #37
Its not documented but you can call account()->create($parameters);

[2015-08-24 10:25] #37 closed

[2015-08-24 10:31] canfiax commented on #37
Thanks. I just noticed when creating an account, and the account e-mail is already taken, a `Cartalyst \ Stripe \ Exception \ MissingParameterException (400)` exception is thrown. Is this a bug?

[2015-08-24 11:49] brunogaspar commented on #37
Not sure, seems to work here.

How're you doing the call?

[2015-08-24 11:51] canfiax commented on #37
Well, the call works fine, but the exception it throws is not very helpful.

Currently, to find out if the error was that user email already exists, you have to do something like this:

	try {
		/**
		 * Create
		 * @var [type]
		 */

			$stripeAccount = \Stripe::account()->create([
				'country' => $this->getCountryCode(),
				'managed' => false,
				'email' => $this->email,
			]);

	} catch (\Ca

[2015-08-24 11:59] brunogaspar commented on #37
Ok, will have a look into improving the exceptions.

[2015-08-24 12:02] canfiax commented on #37
+1

[2015-08-25 00:41] brunogaspar opened #38 "Improve exceptions"

[2015-08-25 17:25] #35 closed

[2015-08-31 15:52] murrion opened #39 "Is it possible to charge a specific users card?"
I've started to use the Library with Laravel 5.1, its very good and it's helped me a lot.

Once thing I can't see in the code or documentation is how to charge a specific users card. Is this possible to do?

[2015-08-31 16:01] brunogaspar commented on #39
Yes, you should be able to pass the `source` which is the card id that belongs to a customer when creating a charge. You need to pass the customer and the card (source) id.

https://cartalyst.com/manual/stripe/1.0#create-a-charge see the allowed parameters here.

[2015-08-31 16:01] #39 closed

[2015-08-31 16:11] murrion commented on #39
Perfect, I tried it and it worked well, thank you.

[2015-08-31 16:11] brunogaspar commented on #39
Awesome :+1:

[2015-09-14 01:26] sdeering opened #40 "quick questions regarding stripe connect"
Hi cartalyst,

Does this support Stripe Connect?
https://stripe.com/docs/connect/migrating

Which API version is supported?
I am using 2015-04-07 and wonder if anything will break if I upgrade?
```You're upgrading to the latest API version from 2015-04-07.```

As stripe documentation suggests:
```To start using managed accounts you must first activate your account as a platform. You must also be o

[2015-09-14 02:49] brunogaspar commented on #40
https://stripe.com/docs/connect/migrating

Already answered here https://github.com/cartalyst/stripe/issues/36

Should work with all versions, unless there's new endpoints that haven't been implemented.

[2015-09-14 02:49] #40 closed

[2015-09-14 05:06] sdeering commented on #40
Thanks mate, will report back if I find anything else.

[2015-09-14 12:17] brunogaspar commented on #40
No problem :+1:

Let me know if you have further questions or if you find any issues with the package.

[2015-09-14 21:34] brunogaspar opened #41 "Add new Relay API Endpoints"

[2015-09-14 21:47] GrahamCampbell commented on #38
:+1: One thing I've noticed is the missing parameter exception can appear when the param isn't missing, it's just invalid.

[2015-09-15 00:21] sdeering commented on #36
Something like this?

[code]

with say $id = STRIPE2 and .env settings:
[code]

[2015-09-15 00:45] brunogaspar commented on #36
That should do it, yes.

[2015-09-18 18:54] tomschlick opened #42 "Please tag a new version for the AmountConverter changes"
The current version (v1.0.3) has a critical bug in it in regards to transforming the amount float into the stripe integer. If you try using a number like `79.99` it transforms it into `7998` and sends that number to stripe.

You have already fixed this with the `AmountConverter` class but a new version hasn't been tagged yet so cartalyst/stripe-billing-laravel hasn't picked up the change yet.

[2015-09-18 18:59] brunogaspar commented on #42
:+1:

Give me a few.

[2015-09-18 18:59] tomschlick commented on #42
Awesome thanks!

[2015-09-18 19:11] brunogaspar commented on #42
Tagged.

[2015-09-18 19:11] #42 closed

[2015-09-18 19:12] tomschlick commented on #42
You're awesome. Thanks for the speedy response!

[2015-09-18 19:13] brunogaspar commented on #42
No worries and thanks for reminding to create a tag, i forgot about it.

Let me know if you find any issues.

[2015-09-21 18:01] #41 closed

[2015-10-06 02:17] swyftfilings opened #43 "Error in Documentation"
I just wanted to let you know that the option parameter, "customer", is not available when doing a search for "events". However, in the docs located here https://cartalyst.com/manual/stripe/1.0#retrieve-all-events, it lists "customer" as an optional parameter.

[2015-10-06 08:06] brunogaspar commented on #43
Fixed, thanks.

[2015-10-06 08:06] #43 closed

[2015-10-08 23:45] brunogaspar commented on #35
@winglian I had to kinda revert my changes here. You're still able to pass cents, but in a different way, you need to pass them as `0.50` for example.

The reason is that this is breaking applications that kinda allows amounts like 100 dollars to be passed, with this change the 100 was being converted into cents, which is wrong.

Unfortunately that's the only way i could figure out.

Hope that you

[2015-11-13 01:16] sdeering commented on #23
Hi,

Samuel Lee Deering invited you to LinkedIn.
Join now to connect with Samuel Lee and the rest of your professional world.

Confirm that you know Samuel Lee: https://www.linkedin.com/e/v2?e=-lwd3ny-igwz479i-d&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=hGuvaUwe&invitationId=6070740670564360192

You received an invitation to connect. LinkedIn will use your email address to mak

[2015-11-13 01:16] sdeering commented on #23
Hi cartalyst/stripe,

I&#39;d like to include you in my network to share updates and stay in touch.

- Samuel Lee

Confirm that you know Samuel Lee: https://www.linkedin.com/e/v2?e=0-igwz4imy-69&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=jFlNoRXd&invitationId=6070740670816010240

You received an invitation to connect. LinkedIn will use your email address to make suggestions to

[2015-11-13 01:16] sdeering commented on #23
Hi cartalyst/stripe,

I&#39;d like to include you in my network to share updates and stay in touch.

- Samuel Lee

Confirm that you know Samuel Lee: https://www.linkedin.com/e/v2?e=0-igwz4iis-6h&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=stVRR032&invitationId=6070740676436377600

You received an invitation to connect. LinkedIn will use your email address to make suggestions to

[2015-11-19 02:01] sdeering commented on #23
Samuel Lee Deering would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-lwd3ny-ih59j6wi-5t&a=preRegInvite&ek=first_guest_reminder_01&li=13&m=hero&ts=accept_text&sharedKey=hGuvaUwe&invitationID=6070740670564360192

View Samuel Lee Deering&#39;s profile: https://www.linkedin.com/comm/profile/view?id=AAsAAARlPb8BK5W5e50abjDagJEHAwJ90SAVRs4&trk=em

[2015-11-19 02:01] sdeering commented on #23
Samuel Lee Deering would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-2oe84b-ih59j4f6-69&a=preRegInvite&ek=first_guest_reminder_01&li=13&m=hero&ts=accept_text&sharedKey=jFlNoRXd&invitationID=6070740670816010240

View Samuel Lee Deering&#39;s profile: https://www.linkedin.com/comm/profile/view?id=AAsAAARlPb8BK5W5e50abjDagJEHAwJ90SAVRs4&trk=em

[2015-11-19 02:02] sdeering commented on #23
Samuel Lee Deering would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-mctmzj-ih59ipl7-2f&a=preRegInvite&ek=first_guest_reminder_01&li=13&m=hero&ts=accept_text&sharedKey=stVRR032&invitationID=6070740676436377600

View Samuel Lee Deering&#39;s profile: https://www.linkedin.com/comm/profile/view?id=AAsAAARlPb8BK5W5e50abjDagJEHAwJ90SAVRs4&trk=em

[2015-11-19 02:02] brunogaspar commented on #23
@sdeering Why your GitHub username is doing this type of spam comments? Please check it.

[2015-11-19 04:24] ninjaparade commented on #23
@brunogaspar think he really wants to connect with you on github :shit: :goat:

[2015-11-19 04:25] brunogaspar commented on #23
It's from Linkedin, and this is not Brosbook, it's GitHub :trollface:

[2015-11-19 04:38] ninjaparade commented on #23
@brunogaspar just accept his invite and grow your personal network :+1:

[2015-11-25 08:03] sdeering commented on #23
Samuel Lee Deering would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-lwd3ny-iheb5wti-4d&a=preRegInvite&ek=second_guest_reminder_01&li=13&m=hero&ts=accept_text&sharedKey=hGuvaUwe&invitationID=6070740670564360192

View Samuel Lee Deering&#39;s profile: https://www.linkedin.com/e/v2?e=-lwd3ny-iheb5wti-4d&a=preRegInvite&ek=second_guest_reminder

[2015-11-25 08:05] sdeering commented on #23
Samuel Lee Deering would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-mctmzj-iheb34ti-5&a=preRegInvite&ek=second_guest_reminder_01&li=13&m=hero&ts=accept_text&sharedKey=stVRR032&invitationID=6070740676436377600

View Samuel Lee Deering&#39;s profile: https://www.linkedin.com/e/v2?e=-mctmzj-iheb34ti-5&a=preRegInvite&ek=second_guest_reminder_0

[2015-11-25 08:05] sdeering commented on #23
Samuel Lee Deering would like to connect on LinkedIn. How would you like to respond?

Accept: https://www.linkedin.com/e/v2?e=-2oe84b-iheb5wth-2z&a=preRegInvite&ek=second_guest_reminder_01&li=13&m=hero&ts=accept_text&sharedKey=jFlNoRXd&invitationID=6070740670816010240

View Samuel Lee Deering&#39;s profile: https://www.linkedin.com/e/v2?e=-2oe84b-iheb5wth-2z&a=preRegInvite&ek=second_guest_reminder

[2015-12-09 12:24] GrahamCampbell commented on #31
Any movement here?

[2015-12-09 12:33] brunogaspar commented on #31
I've been quite busy, so no.

[2015-12-09 12:36] GrahamCampbell commented on #31
Ok. ;)

[2015-12-09 13:59] aewing opened #46 "Guzzle 6"
Could you please release a version of this package with support for Guzzle 6?

[2015-12-09 14:01] GrahamCampbell commented on #46
Duplicate issue.

[2015-12-09 14:01] GrahamCampbell commented on #46
See the wip branch: https://github.com/cartalyst/stripe/tree/feature/guzzle-6.

[2015-12-09 14:04] aewing commented on #46
My mistake.

[2015-12-09 14:04] #46 closed

[2015-12-15 16:02] nareshmenlo opened #47 "manage accounts are not working"
manage accounts are not working

[2015-12-15 16:03] brunogaspar commented on #47
You'll need to be way more specific than that.

[2015-12-18 23:51] #47 closed

[2015-12-19 09:39] nareshmenlo commented on #47
Yes thanks for update,
I would like to get total payouts for the each mananged account.
thanks in adavance

[2015-12-19 14:22] brunogaspar commented on #47
You'll need to fetch the balance/balance history for each account.

Not much we can do, unless Stripe provides that data on each connected account.

All up to you to implement this.

[2015-12-29 00:32] commandantp commented on #40
@sdeering did you implement it with Stripe Connect ?
Any tutorial you found useful for that?
Thanks!

[2015-12-29 02:11] brunogaspar commented on #40
@commandantp Do you have any questions or issues?

[2015-12-29 09:18] commandantp commented on #40
Basically I am reading through to understand how to deal with it. Have not been able to find a full example yet for the Stripe Connect. Just overall slightly confused on how/where to start but that's normal I guess...
Thinking of using the stripe-billing-laravel/3.0 package.

A/ What I think I got so far for Payment:
1- Include stripe js part in front-end
2- User fills for payment and stripe.js re

[2015-12-29 13:20] brunogaspar commented on #40
The workflow seems correct.
Keep in mind that nor we or Stripe enforces you to do it in a specific way, so you're free do it the way it better fits your application, so you can charge right way or mark it to be charged later (manually).

Seems also correct.

Yes. You'll need to create a different instance to interact with a connected account.

[2015-12-29 16:28] commandantp commented on #40
Thanks bruno!

[2016-01-07 14:33] GrahamCampbell opened #48 "Guzzle 6 Support"
Since there is no open issue regarding this, I think it probably makes sense to open one to allow discussion around this topic.

----

NB https://github.com/cartalyst/stripe/tree/feature/guzzle-6

[2016-01-07 14:37] brunogaspar commented on #48
What's to discuss?

[2016-01-07 20:07] darnold commented on #48
I think he's referring to the fact that if you try to run composer update with cartalyst/stripe-laravel you get errors for guzzle saying "~5.2 no matching package found".

[2016-01-07 20:09] GrahamCampbell commented on #48
No I'm not?

[2016-01-07 20:09] GrahamCampbell commented on #48
It's obvious the master branch doesn't support guzzle 6, and that there's another branch that's partially completed that does.

[2016-01-07 20:22] darnold commented on #48
Ah sorry about that. I assumed that's what you were referring to since currently when I try to install cartalyst/stripe-laravel I was getting an error about the guzzle version.  I assume this is because i'm already requiring guzzle 6 in my composer json. Isn't that why you would want the guzzle version bump?

[2016-01-07 20:30] GrahamCampbell commented on #48
Ultimately, I guess, yes.

[2016-01-11 02:37] brunogaspar commented on #48
Didn't meant to close this.

So, the state of things on the feature branch is that the tests are not passing on the following, Products, Orders and SKUs APIS.

The reason they don't pass is because the arrays that are being passed are not valid for Stripe, due to stuff like [this](https://github.com/cartalyst/stripe/blob/feature/guzzle-6/tests/FunctionalTestCase.php#L75).

I can't seem to figure o

[2016-01-11 04:24] brunogaspar commented on #48
So, i pushed a few fixes, and this, which is [kind of an hack](https://github.com/cartalyst/stripe/commit/38748d239a54f9d57778495e7f12431470cab642#diff-955e3aab4c4bf4183207ed96f1374489R47) to be honest, but it's better than nothing i believe.

Tests are [all green](https://travis-ci.org/cartalyst/stripe/builds/101509585) now, which are very good news.

Please let me know if you guys have a better

[2016-01-12 20:08] tomschlick opened #49 "Stripe ACH Support"
Launched publicly today, looks to be the same interface for charging a card, would just need to add the interface to capture the bank details & verify.

https://stripe.com/blog/accept-ach-payments

https://stripe.com/docs/guides/ach

[2016-01-12 20:57] brunogaspar commented on #49
Feel free to create a PR.

[2016-01-12 20:59] tomschlick commented on #49
I may do that as I get closer to implementing it. Was just opening it up for discussion first. Sometimes projects don't agree with everything being implemented or someone is already working on it.

[2016-01-12 21:00] brunogaspar commented on #49
Correct and i agree.

But by looking into their docs, i don't see any change to be required at the API level.

[2016-01-12 21:05] tomschlick commented on #49
Probably the manual verification step (them depositing two amounts into the users account and the user confirming in your own system). To my knowledge there isn't that endpoint here yet...

[code]

https://stripe.com/docs/guides/ach#manually-collecting-and-verifying-bank-accounts

[2016-01-12 21:11] brunogaspar commented on #49
That endpoint doens't seem to be listed on the API docs (at least i'm no seeing it) but we can easily add that.

[2016-01-14 14:49] brunogaspar commented on #48
I'm scheduling this to be merged into master and tagged on monday unless someone has feedback or something that requires changes.

[2016-01-17 21:26] #48 closed

[2016-01-26 16:22] sgilberg opened #50 "Class 'Cartalyst\Stripe\Stripe' not found"
Hi, forgive me if this is a Symfony2 issue or other, but I've been using cartalyst/stripe in a production application in Symfony2 quite successfully for several months and I'm suddenly having problems, even though I haven't made any changes in my source code. My composer.json specifies "cartalyst/stripe": "1.0.*@dev". After my last composer update, which included an update to this package (but not

[2016-01-26 16:32] brunogaspar commented on #50
Not really related to your issue, but we don't recommend to use `1.0.*@dev` as a dependency version but rather use `~1.0`.

In regards of the issue, the namespaces are correct, and the tests we have are passing so not really sure what's wrong on your side but try to do a `composer dump-autoload` to see if the autoload file get's refreshed, but other than that i'm not seeing or experiencing this is

[2016-01-26 16:32] #50 closed

[2016-01-26 16:38] sgilberg commented on #50
Thanks @brunogaspar for the quick response! Changing it to ~1.0 seems to do the trick, for whatever reason.

[2016-01-26 16:39] brunogaspar commented on #50
Interesting heh.

Glad it's working now :)

[2016-02-01 10:14] richard-parnaby-king opened #51 "Catchable Fatal Error"
I am attempting to create a customer and am getting the following message:

My code is:

[code]

[2016-02-01 10:59] richard-parnaby-king commented on #51
Guzzle could not locate my ssl certificate. Fixing that stopped the above error.

[2016-02-01 10:59] #51 closed

[2016-02-02 14:56] brunogaspar commented on #49
@tomschlick Have you tried this? Do we need to make any changes on the package?

[2016-02-02 19:54] tomschlick commented on #49
Haven't had a chance to fully implement yet as some priorities shifted at work. Going to try to get it done in the next week or so.

The only changes I would see needing is the verify() method if it doesn't already exist here. Doesn't look like it's documented in their API spec but their php library implementation is here...

https://github.com/stripe/stripe-php/blob/master/lib/BankAccount.php#L13

[2016-02-02 23:33] brunogaspar commented on #49
Cool, not worries.

I'll have a look if i have time as well, but that method is not implemented on our end at the moment.

[2016-02-11 23:29] GrahamCampbell opened #55 "Bad assumption in exception handler"
[code]

[2016-02-11 23:30] brunogaspar commented on #55
We're open to PR's.

[2016-02-11 23:31] GrahamCampbell commented on #55
I don't have time right now, otherwise I would have done. Opened this issue for someone else, or for me later on.

[2016-02-11 23:31] brunogaspar commented on #55
Ok.

[2016-02-12 12:40] lmrgyv commented on #51
How you fixed this?

[2016-02-13 17:56] richard-parnaby-king commented on #51
I had this issue on my localhost. The problem boiled down to not having an SSL certificate and not making the request from a https scheme. To resolve this, downloaded a .crt file from somewhere (I can't remember from where), then had to configure my localhost (I run xampp) to allow https connections by editing the http-ssl.conf file. Unfortunately I can't remember what exactly I changed.
I also ha

[2016-02-14 11:29] lmrgyv commented on #51
i created new server.crt with [XAMP makecert ](http://robsnotebook.com/xampp-ssl-encrypt-passwords). Now i have https. But problem not closed for me.

`FatalThrowableError in Handler.php line 73:
Type error: Argument 1 passed to Cartalyst\Stripe\Exception\Handler::__construct() must be an instance of GuzzleHttp\Exception\ClientException, instance of GuzzleHttp\Exception\RequestException given, cal

[2016-02-15 10:47] richard-parnaby-king commented on #51
I download the following certificate as cacert.pem: http://hg.mozilla.org/releases/mozilla-release/raw-file/default/security/nss/lib/ckfw/builtins/certdata.txt

I add the following line to my php.ini file: `curl.cainfo = "C:\xampp\cacert.pem"`

Finally, I added the following vhosts data to my apache/conf/extra/httpd-vhsots.conf file:

[code]

[2016-02-16 10:09] lmrgyv commented on #51
It does not work for me, but I try esch((

[2016-02-16 10:20] brunogaspar commented on #55
Closing as we already have https://github.com/cartalyst/stripe/issues/38

[2016-02-16 10:20] #55 closed

[2016-02-16 10:20] brunogaspar commented on #51
@lmrgyv If you can't figure out a solution, i would open an issue on Guzzle side as the issue with the certificate has nothing to do with the Stripe package.

--

https://github.com/cartalyst/stripe/issues/38

[2016-02-16 10:20] GrahamCampbell commented on #55
This surely is not the same? This is a bug vs wanting to "improve" them.

[2016-02-16 10:20] brunogaspar commented on #55
Same.

[2016-02-16 10:25] lmrgyv commented on #51
@brunogaspar It would be nice.

[2016-02-23 16:25] olaniyimoses commented on #51
please, the above solution did not work for me as well. is it because i'm using wamp and not xamp

[2016-02-23 16:33] olaniyimoses commented on #51
please, the above solution did not work for me as well. is it because i'm using wamp and not xamp

[2016-02-23 16:34] brunogaspar commented on #51
Try to raise the issue on Guzzle side, not much we can do here, sorry.

[2016-04-19 17:55] monove opened #57 "Manual transfer to own bank account"
I am trying to set recipient as `default_for_currency` as per https://stripe.com/docs/api#create_transfer-destination
[code]
and it is not working

[2016-04-19 18:00] brunogaspar commented on #57
What's not working? Any error?

[2016-04-19 18:01] monove commented on #57
[code]

[2016-04-19 18:02] brunogaspar commented on #57
Seems to be something that you'll need to bring up with Stripe itself i guess.

[2016-04-19 18:02] brunogaspar commented on #57
Just reference them the message they return

[2016-04-19 18:08] monove commented on #57
needed to be `recipient: "self"`

[2016-04-19 18:08] #57 closed

[2016-04-19 18:09] brunogaspar commented on #57
Interesting, that's not documented, right?

[2016-04-19 18:10] monove commented on #57
As usual

[2016-04-19 18:12] brunogaspar commented on #57
Heh, it's hard to have everything documented.

You want to raise an "issue" on their [Google group](https://groups.google.com/a/lists.stripe.com/forum/#!forum/api-discuss)? They usually reply and the documented get's updated.

[2016-05-24 04:24] Casinelli opened #59 "100x charge for zero-decimal currencies"
There's a few currencies with no decimals. For these Stripe doesn't require to specify the cents, so multiplying the number by 100 actually increases the charge by 100. [Docs here.](https://support.stripe.com/questions/which-zero-decimal-currencies-does-stripe-support)

[2016-05-24 22:00] brunogaspar commented on #59
@Casinelli Can you elaborate on the issue? Are you saying that something is broken on our code?

I know that our converter is not really the best thing, which will be removed on the next major version, but i'm not really following your issue.

[2016-05-25 00:02] atdesigntas commented on #22
It looks like you can use default source when updating a customer via catalyst/stripe/v1:

		$customer = $stripe->customers()->update( "cus_69L2BtmqFsaWE4", [
			'default_source' => "card_15x2N4GSR4ETmQMl3mZLjNyg"
		]);

[2016-05-25 02:53] Casinelli commented on #59
@brunogaspar Basically with the package I can send a 50 euros charge by just using 50 as the amount, which the code will convert in 5,000 euro cents. This is good. But if I want to send 2,000 JPY (japanese yen), a currency that doesn't have decimals, the code will now convert it into 200,000. However Stripe doesn't expect the amount to be in cents for zero-decimal currencies, so the customer will

[2016-05-25 11:04] brunogaspar commented on #59
Feel free to submit a PR if you have a good solution :)

[2016-05-25 20:33] monove opened #62 "fileUpload returns guzzle object"
When doing a call like this
[code]
`$response` is a guzzle object instead of the fileUpload object.

Currently, in order to get the contents I must do
[code]

[2016-05-25 20:58] #59 closed

[2016-06-20 13:41] brunogaspar commented on #62
Want to send a PR to the `1.0` branch?

[2016-06-21 14:39] brunogaspar commented on #62
This is now fixed on 81144a2148ef64e6423cbbe74b4efe5c9cf2fbaf

[2016-06-21 14:39] #62 closed

[2016-06-21 18:21] brunogaspar commented on #49
Implemented this on 1a8df1aa8f8dac88a81abd6e2510dec92b142cbf.

The usage is very easy and similar to what we have :)

[code]

[2016-06-21 18:21] #49 closed

[2016-07-19 13:36] brunogaspar opened #64 "Passing parameters to the iterator doesn't work as expected most of the times"

[2016-07-19 16:17] brunogaspar commented on #64
Fixed on https://github.com/cartalyst/stripe/commit/a7d3228dfff2717ee1a1a3ca653b6da6ef3ff8a2

[2016-07-19 16:17] #64 closed

[2016-08-04 06:47] KHMtravel opened #65 "Idempotent key length is 0, which is outside accepted lengths"
On my live server, when I'm trying to create a customer I receive the following error:

I'm not trying to set an idempotency key. However if I try to set an idempotency key I receive the same error message.

I'm using
cartalyst/stripe                      v2.0.5
cartalyst/stripe-laravel              v4.0.1

This is my code
`\Stripe::customers()->create([

[2016-08-04 10:58] brunogaspar commented on #65
I'm not being able to reproduce the issue with the code you've provided.

If you figure out a way to fix it, feel free to submit a PR.

[2016-08-04 22:28] KHMtravel commented on #65
Strange thing is that the exact same code works on my development machine.
Is there a way to send header values with the request?

[2016-08-04 22:32] brunogaspar commented on #65
Not by default, you'll need to kinda extend the package, but you don't really need to send any extra headers to Stripe.

What PHP version are you using on your production server?

[2016-08-04 23:19] KHMtravel commented on #65
output of php -v on my server:
PHP 7.0.8-0ubuntu0.16.04.2 (cli) ( NTS )

on my laptop:
PHP 7.0.9-1+deb.sury.org~xenial+1 (cli) ( NTS )

Does calling \Stripe::idempotent(NULL) has any effect on the headers sent?

[2016-08-04 23:22] brunogaspar commented on #65
Can you give that a try please?

If that fixes the issue we can try to set it as `null` [here](https://github.com/cartalyst/stripe/blob/2.0/src/Config.php#L51) otherwise a change will need to happen [here](https://github.com/cartalyst/stripe/blob/2.0/src/Api/Api.php#L188-L193).

[2016-08-04 23:35] KHMtravel commented on #65
Doesnt work either.
Also if I set Idempodency-Key to null, I receive the same error message.
If I remove line 190 completely it works.
It seems like null is translated to an empty string somewhere.

I think the best solution for me is to actually use idempotency keys with \Stripe::idempotent(uniqid())

[2016-08-04 23:52] brunogaspar commented on #65
That's a very weird error since it works on your dev environment and on my end as well, which leads to something on your production environment to work differently.

---

What about changing [this](https://github.com/cartalyst/stripe/blob/2.0/src/Api/Api.php#L185-L194) with the following

[code]

[2016-08-05 17:27] KHMtravel commented on #65
sounds good!
I'm gonna test it later and let you know.

[2016-08-06 19:20] KHMtravel commented on #65
works like a charme.
Thank you!

[2016-08-06 19:20] #65 closed

[2016-08-06 19:58] brunogaspar commented on #65
Thanks for checking it out, i'll push this as a fix on monday.

[2016-08-23 17:18] sanjoydesk opened #66 "[Proposal] Integration of Stripe with Cygnite Framework"
I would like to send you PR for integrating Stripe with Cygnite. I have [created a branch](https://github.com/cygnite/stripe) and wish to provide a section for Stripe in [Cygnite documentation ](http://www.cygniteframework.com/2013/07/introduction.html).  Also it will be nice if we can see [here](https://cartalyst.com/manual/stripe/1.0#integrations).
Thanks!

[2016-08-23 20:42] brunogaspar commented on #66
Thanks for the proposal, but this is a framework agnostic package, so it's better if you release your implementation as a standalone package instead, like how we do for Laravel.

After that we can just make a link to your implementation on the documentation.

[2016-08-23 20:42] #66 closed

[2016-09-10 00:02] alexrayan opened #67 "USD getting converted from cents to dollars in Utility class"
Working on a Stripe payment integration in several projects and it looks like the amount passed to Charges class POST processing is being converted from cents to dollars in case of currency being USD.
Upon further search, I noticed that Utility has an array of currencies to be excluded from conversion within the needsAmountConversion() method. However, USD is not in that array.
`

    {
        $h

[2016-09-10 09:27] brunogaspar commented on #67
For now just pass `0.50`, you can see examples of it [here](https://github.com/cartalyst/stripe/blob/2.0/tests/AmountConverterTest.php).

What i can do for the current release though, is to allow the amount converter to be disabled, by allowing you to do `Stripe::disableAmountConverter();`.

But i'm planning on removing the amount converter on the next major release.

[2016-09-12 18:26] alexrayan commented on #67
Ok, thanks, Bruno!

We're using cents as the lowest currency denomination within our applications, so for now Stripe::disableAmountConverter() would work well for our needs.

Thanks for the heads up on the next major release.

Regards.
Alex

[2016-09-12 20:14] brunogaspar commented on #67
Will keep this open until i add that method in so i don't forget.

[2016-09-21 21:32] andreipan opened #69 "Documentation error"
Plans parameters **statement_descriptor** should be used instead of **statement_description**

https://stripe.com/docs/api/php#plans
https://cartalyst.com/manual/stripe/2.0#plans

[2016-09-21 22:10] brunogaspar commented on #69
Feel free to submit a [pull request](https://help.github.com/articles/using-pull-requests/) :)

[2016-09-22 01:06] alexrayan opened #70 "Failed Charge::create() identifier not passed to Exception"
Hi!
Is there a possibility of passing a charge identifier to a CardErrorException object?

As it is now, a failed response returns a charge identifier as part of error array but is not being passed to an exception by the package.
Here's a logged body of the response:
`
    [
      "error" => [
        "message" => "Your card was declined."
        "type" => "card_error"
        "code" => "card_dec

[2016-09-22 10:25] brunogaspar commented on #70
Feel free to submit a [pull request](https://help.github.com/articles/using-pull-requests/) :)

[2016-09-22 11:49] andreipan commented on #69
It's seems like I don't have permissions to do so.

[2016-09-22 11:50] brunogaspar commented on #69
Fork the repository, apply the changes there and submit the pull request here.

[2016-09-22 12:00] andreipan commented on #69
Somehow I couldn't fork a repo through Fork button. Getting following error:

I've cloned it just by url.
And I guess I can't send topic brunch directly here.

[2016-09-22 12:12] brunogaspar commented on #69
You already have a fork as you can see here https://github.com/andreipan/stripe so do the change there.

[2016-09-22 12:21] andreipan commented on #69
Already done there, but I can't find the way to create a pull request to cartalyst/stripe. Somehow there is no my repo in "compare across forks" if to do it through cartalyst/stripe and there is no  cartalyst/stripe repo if to do it from my fork.

[2016-09-22 12:29] brunogaspar commented on #69
I see why... you don't have a fork, you've created the repository called `stripe` and pushed the changes to that repository, therefore you cant' do a pull request here from your repository, which is expected hehe

So my suggestion is, delete the repository you have and create a proper fork of this repository to your profile, apply the changes for the documentation and you can then submit a pull re

[2016-09-22 12:49] andreipan commented on #69
#71
Finally figure out the way to do it.

[2016-09-22 12:50] brunogaspar commented on #69
Awesome :)

[2016-09-22 12:50] #69 closed

[2016-09-22 18:07] alexrayan commented on #70
Submitted a pull request :)

[2016-09-23 10:48] #70 closed

[2016-09-23 11:08] #67 closed

[2016-10-18 20:12] MPJHorner opened #74 "Question: Calls for Managed Accounts."
I can't seem to find any documentation about making calls for managed accounts.
I can make calls for other accounts using my API. The documentation shows how this can be done like below...
(As CURL - With Headers)
[code]
(Using Stripe PHP Lib)
[code]

I'm trying to get this working using Laravel 5.2

I have tried the following, but seems to ignore the param.
[code]

Many thanks!

[2016-10-18 22:39] brunogaspar commented on #74
Will have a look into adding a method to allow the account id to be passed like so

[code]

[2016-10-25 13:45] #74 closed

[2016-10-25 13:48] brunogaspar commented on #74
@MPJHorner Have a look and see if it works as expected.
Please do note that you'll need to define a `null` accountId if you want to manage your main account after you used a managed account (kindly look at the tests for the example).
Otherwise you'll need to create a different instance of the object so it doesn't get interference.

I'll look into addressing this stuff a bit better for v3.

[2016-12-10 14:28] Jkurbs opened #76 "Guide"
Hi, do you have any guide on how to use the library? Thanks!!

[2016-12-10 20:05] brunogaspar commented on #76
The documentation already has a lot of examples, what else do you need?

Anything you're stuck with?

[2016-12-11 02:25] Jkurbs commented on #76
Hi, my problem is, I'm building an app and the App rent stuff. So should I use Stripe subscription for creating a plan for every product? What should I use? Thanks

Sent from my iPhone

On Dec 10, 2016, at 3:05 PM, Bruno Gaspar <notifications@github.com<mailto:notifications@github.com>> wrote:

The documentation already has a lot of examples, what else do you need?

Anything you're stuck with?

-

[2016-12-11 10:45] brunogaspar commented on #76
If your application requires a recurring billing system, which would happen every month or every couple months for example, the subscriptions is the best option, otherwise use normal charges.

[2016-12-19 11:10] #76 closed

[2016-12-24 23:11] GrahamCampbell opened #77 "Refunds"
The stripe API supports using refunds without knowing their charge ID, but cartalyst does not. This makes it impossible to lookup the charge ID if we only know the refund ID, for example.

[2016-12-24 23:12] GrahamCampbell commented on #77
Infact, the stripe does don't even mention the endpoints listed in your stripe package. Did they ever work?

[2017-01-26 01:51] zlorkovic opened #80 "Create token method accept only one parameter - no opts"
On original Stripe API, create token method accepts additional parameters.

https://stripe.com/docs/api#token_object

This is useful when we're using "Sharing customers" feature where create token should accepts two arrays (one is for user who is paying and another is user who is receiving payment)

https://stripe.com/docs/connect/shared-customers

\Stripe\Token::create(
  array("customer" => CUST

[2017-01-26 01:56] brunogaspar commented on #80
@zlorkovic Please have a read on our [documentation](https://cartalyst.com/manual/stripe/2.0#tokens), it accepts an array as the first argument, so you can pass whatever the Stripe API accepts.

Let me know if you have any issues with it.

[2017-01-26 01:56] #80 closed

[2017-01-26 01:59] zlorkovic commented on #80
@brunogaspar Couldn't make it work. It accepts array (one argument) but in their documentation (code I posted above) it should accept two arguments. Both of them are arrays.
I've try to add both of them in additional array but without success as it doesn't accept it that way.

[2017-01-26 02:01] brunogaspar commented on #80
@zlorkovic The code on your example is for the Official Stripe PHP library, if it doesn't work, then you should use their own [repository](https://github.com/stripe/stripe-php) and report the problem there.

Our Stripe Library only accepts one argument and it does work, so you're probably confused on the library you're using.

[2017-01-26 02:13] zlorkovic commented on #80
@brunogaspar It's working on official library. I just thought that this Stripe Library is like "wrapper" for official stripe library.
Sorry for confusion. I've realised now that it's completely separated library.
Just one quick question, do you support managed accounts or this is in plan for future versions?

[2017-01-26 02:23] brunogaspar commented on #80
No problem :)

Yes, it's supported.

[2017-01-26 10:26] zlorkovic commented on #80
@brunogaspar Great! Have one more question, so I don't open new issue in vain.
Is requesting that Tokens method can receive additional, optional argument, valid feature request or?
Because, when using managed/connected accounts, this is pretty big issue as I need to generate token using user info, and managed/connected user info, both need to be provided as arrays to token endpoint (as I mention f

[2017-01-26 11:39] brunogaspar commented on #80
Don't believe that's necessary, one argument is enough, but what are you trying to pass to the tokens endpoint?

[2017-01-26 12:10] zlorkovic commented on #80
I'm trying to pass customer_id (I have that info saved in local database, while on info about customer is saved in one Stripe account - cc, bank details etc) - user who is paying, and user_stripe_id of connected account - user who should received founds.
Then when I get this token, I can make charge.

I need to pass two arguments to token because all customers info are saved on one account (our st

[2017-01-26 15:28] brunogaspar commented on #80
I think what you're after is the way to tell Stripe which connected account to use.

We've a method called `accountId()` that set's that, but this is not on a stable release though, but i can create a tag for it later tonight, otherwise you'll need to set your composer.json file allow dev dependencies but updating the minimum stability flag to `"minimum-stability": "dev"`

In terms of usage is qui

[2017-01-26 17:34] zlorkovic commented on #80
Oh. I see. Yeah, that could work I think.

[2017-01-26 19:36] zlorkovic commented on #80
@brunogaspar If you don't mind create a tag for it so I'll try to pull it later to check if it will work that way.

[2017-01-27 12:43] brunogaspar commented on #80
@zlorkovic Tagged. Please give a try and let me know if it works as how you expect.

[2017-01-27 19:33] zlorkovic commented on #80
@brunogaspar Yes, it's working as expected. Thank you!

[2017-01-30 23:12] brunogaspar opened #81 "Implement Multiple Plans per Subscription"
Refs:
- https://stripe.com/docs/subscriptions/multiplan
- https://stripe.com/docs/api#subscription_items

[2017-02-04 01:54] #81 closed

[2017-02-04 03:45] brunogaspar commented on #77
@GrahamCampbell This should be fixed on the `master` (v3) branch.

But answering:

It works fine for older accounts as the tests were passing perfectly fine, however for new Stripe accounts, Stripe doesn't allow the old endpoints to work, seems weird but it's how they role i suppose.

[2017-02-04 03:45] #77 closed

[2017-02-08 17:54] rnatmigl opened #82 "[Proposal] - Pass extra parameters when retrieving an upcoming invoice"
The upcoming invoice method on Stripe accepts several parameters.

https://stripe.com/docs/api#upcoming_invoice

It allows us to preview the next invoice amount if a user wants to update his subscription or use a coupon, for example.

Unfortunately Cartalyst only accepts the $customerId and $subscriptionId parameters:
`upcomingInvoice($customerId, $subscriptionId = null)`

Would be good to have it

[2017-02-08 17:57] brunogaspar commented on #82
Will make this change for the upcoming v3, doing it now on v2 would be a breaking change.

[2017-02-08 18:00] rnatmigl commented on #82
Great.
Thanks for the quick reply.

[2017-02-25 06:52] nareshmenlo commented on #47
thanks

[2017-03-03 12:36] neokio opened #83 "Manual omissions + lack of basic use examples"
A few thoughts:

1) There's no mention of the mandatory namespace declaration in the "[Instantiation](https://cartalyst.com/manual/stripe/2.0#instantiation)" section of the manual (or anywhere). Without calling `namespace Cartalyst\Stripe;` before `$stripe = new Stripe();`, nothing will work.

2) Also in the "[Instantiation](https://cartalyst.com/manual/stripe/2.0#instantiation)" section, `$stripe

[2017-03-03 12:44] brunogaspar commented on #83
Hi @neokio

You're more than welcomed to submit PR's to improve the documentation.

[2017-03-03 12:50] neokio commented on #83
I probably will, once I actually know what I'm talking about :)
But at the moment I'm not qualified. I'm just getting started with the Stripe API today.

[2017-03-03 12:55] brunogaspar commented on #83
Sure.

I'll give you some feedback on the points on mentioned.

--

Agree.

I would probably have the `use Cartalyst\Stripe\Stripe;` on each usage example.

Agree.

This can probably be done a tad differently to avoid confusion.

Most likely a typo, it should be `false`.

Not sure i agree with this one though, the documentation has examples for every single thing it can do, so it's sufficient.

--

[2017-03-04 19:24] neokio commented on #83
Another ... in the "[Charges](https://cartalyst.com/manual/stripe/2.0#charges)" section, it lists `source` as required, but the usage example doesn't include a `source`.

[2017-03-04 23:42] brunogaspar commented on #83
Thanks.

I've fixed the incorrect requirement values and added the namespace imports on the instantiation.

Didn't worked on the key and version part though as i've started to re-organise the documentation sections.

Going to close this though, but feel free to leave comments if you find any other occurrences or even do a PR if you can of course.

[2017-03-04 23:42] #83 closed

[2017-03-08 01:47] brentnd opened #84 ""Stripe-Account" Causing Error when not using Connect"
I'm using v2.0.8 as I have on previous projects. This time however, I'm not using Stripe connect and I'm running into an issue making a simple charge.

The error returned is ```Only Stripe Connect platforms can work with other accounts. If you specified a client_id parameter, make sure it's correct. If you need to setup a Stripe Connect platform, you can do so at https://dashboard.stripe.com/accou

[2017-03-08 09:17] brunogaspar commented on #84
Hello @brentnd

Can you see if the following change on the `createHandler` method on the `src/Api/Api.php` file works?

[code]

The weird thing is that the tests are passing just fine and i don't have any issues on 2 productions servers either, but the above change should fix it.

[2017-03-08 12:09] brentnd commented on #84
Yes, adding the condition like idempotencyKey solves it as well.

I too am confused though, because I've had this working before on other accounts without needing this change. Could it be that a newly created account is somehow different? One difference is I'm using Stripe elements on the front end but to me, the way the token is generated shouldn't change how the backend handles it.

[2017-03-08 13:05] #84 closed

[2017-03-09 21:52] brunogaspar commented on #82
I've implemented this on the `master` branch.

[2017-03-09 21:52] #82 closed

[2017-03-30 11:58] johndwells opened #85 "Support for a "direct charge"?"
We need to raise a "direct charge" with Stripe Connect:

https://stripe.com/docs/connect/direct-charges

The curl example shows sending `Stripe-Account` as a header value.  I'm not seeing any evidence of being able to do this here.

Are "direct" charges possible?

[2017-03-30 12:02] brunogaspar commented on #85
Hello @johndwells

Yes, this is possible but not documented as of yet.
I plan on revising the documentation soon, so it gets inline with out Stripe has their documentation now.

Just do something:

[code]

Let me know if you find any issues with it.

[2017-03-30 12:02] #85 closed

[2017-03-30 12:17] johndwells commented on #85
Thank you for the prompt reply! That's super helpful we'll forge on with this and let you know if we encounter trouble.

[2017-03-30 21:07] jberm4 opened #86 "Update Customers Default Card"
I am trying to update a customers default_source to the new card that is added to their account. Is there a way to do this? The below does not work.

$customer = $stripe->customers()->update($user->stripe_id, [
      'default_source' => $card[id]
    ]);

[2017-03-31 00:59] brunogaspar commented on #86
Hello @jberm4

This seems to be working as expected, i even added a test [here](https://github.com/cartalyst/stripe/commit/fc1413da0aabc4852e574ca21d4f8b8801297fab) to make sure it is really working.

Is it returning any error? What does the `$card['id']` contain?

[2017-03-31 18:47] jberm4 commented on #86
As you can see I had a typo in $card[id]. I figured out my issue. I apologize. Long hours of coding.

[2017-03-31 18:47] #86 closed

[2017-04-27 10:53] arslan-lango opened #87 "Stripe major changes not available in your package"
Stripe recently did some major changes on its end e.g, stripe splits its transfers into transfers and payouts,
For you reference:
https://stripe.com/docs/upgrades?since=2017-01-27#api-changelog

So this package do not support the new changes of stripe.

[2017-04-27 12:37] #87 closed

[2017-04-27 12:56] brunogaspar opened #88 "Use Test Tokens Instead Of Card Numbers"
In an attempt to make the test suite cleaner an better, we should use test tokens.

Reference: https://stripe.com/docs/testing#cards (click on Token tabs)

[2017-04-27 21:47] eduardoconekta opened #89 "Library security question"
How you manage api header security to avoid header parameters interception by server side?.
 I found in Api.php this is a plain text `createHeader()` function that let me see that you only need

- Idempotency-Key
- Stripe-Account
- Stripe-Version
- Authorization', 'Basic '.base64_encode($config->getApiKey()));

to auth into your api, what appends if some one compromise the traffic between the serv

[2017-04-28 12:49] brunogaspar commented on #89
Hello @eduardoconekta

I'm not seeing how this can be avoided at a package level to be honest, but i'm not by any means a security expert so i can be totally wrong.

If you have something to improve in this regard, please feel free to submit a PR or just leave a comment here.

Thanks!

[2017-04-28 12:49] #89 closed

[2017-04-28 16:03] eduardoconekta commented on #89
I'm talking to put a proxy between server traffic, spoofing all the requests made by server including api calls, every api call may contain *headers*, that means an attacker could steal those, put in i don't know may be postman or a curl petition to get access to all information

[2017-04-28 16:21] drsii commented on #89
@eduardoconekta this type of attack cannot be resolved by the package itself.

Adding a proxy between your server for obfuscation comes with it's own set of problems and would fall to the project lead that is designing the hardware/tech stack for the given project.

Your best option is to run your entire app in https.

[2017-04-28 16:44] eduardoconekta commented on #89
i think i wasn't clear, please read again my last comment i restructured the case, so here in México there was an issue with a startup that make api calls over android app and a guy use a program called mitmproxy was able to download the entire database, even when the traffic was over https, so i think that could be a posible security issue if you know how headers work.
Here is a post with a simil

[2017-04-28 17:00] drsii commented on #89
@eduardoconekta I see. I'm not sure there is much we can do here. I would tend to shy away from obfuscation for security but in this case it could make sense. I'm still not sure this is something i would like to see on any of our packages.

I'll take some time to research any other use cases out there. Feel free to share anything you learn as well.

[2017-05-09 16:37] arslan-lango opened #90 "Payout file is missing in latest release."
I am using your latest release 2.0.9 but that release does not include the payout file. kidnly upload the latest release that has the payout work.

[2017-05-09 16:43] GrahamCampbell commented on #90
Or you could just set the correct stability so that you can use the new code.

[2017-05-09 18:02] brunogaspar commented on #90
@arslan-lango As @GrahamCampbell mentioned, and if you can't wait (which is understandable), you can update your `minimum-stability` to `dev` on your `composer.json` file and require the `2.0.x-dev` version for now.

I'll try to address the tag ASAP as i need to create the unit tests for it before creating the new release.

Thanks @GrahamCampbell

[2017-05-09 18:04] arslan-lango commented on #90
Thanks @GrahamCampbell and @brunogaspar

[2017-05-10 01:19] brunogaspar commented on #90
It's tagged @arslan-lango.

[2017-05-10 01:19] #90 closed

[2017-05-31 17:22] edmundluong commented on #81
Hey guys,

I was looking for specific functionality of adding multiple plans to a subscription and was going to create an issue here but I found this ticket and it seems like its already been implemented. The documentation, however, does not reflect this.

I can get by looking at the source code, but it would be nice if this was in the docs as well.

Thanks and keep up the great work!

[2017-06-18 22:06] GrahamCampbell opened #91 "2.0 branch is actually 2.1"
Mistake?

[2017-06-20 21:57] brunogaspar commented on #91
Kind of a mistake on my end, the latest tag should've been `2.0.10` instead of `2.1.0`.

While we follow semver the best as we can, it's quite difficult to have it well applied here, since Stripe has a versioning system in place that doesn't help much.

I'll have a look into this later in the week, thanks for pointing it out!

[2017-08-25 02:31] WeeHong opened #92 "Handle token() Error"
Hi,

Could I know how to handle the error when `$this->token()->create([ ... ])` is running?

It never goes into `catch Exception`.
[code]

[2017-08-25 02:46] brunogaspar commented on #92
This seems to be a namespace issue.

Either try importing the `Cartalyst\Stripe\Exception\CardErrorException` exception class at the beginning of your file, or prepend a `\` at the beginning like so `\Cartalyst\Stripe\Exception\CardErrorException`.

Please have a read on namespaces on the PHP documentation, it explains it very well how this kind of stuff work.

[2017-08-25 02:46] #92 closed

[2017-08-28 18:08] GrahamCampbell opened #93 "Autogenerate idempotency keys for requests"
Instead of allowing a user to set a global idempotency key, instead, would it not be a better idea to just automatically set a random one for each request, to ensure the request retrying middleware doesn't do anything bad?

[2017-08-28 19:00] brunogaspar commented on #93
Having it to send the idempotency key header on **all** requests or just when the idempotency method is called?

[2017-08-28 19:05] GrahamCampbell commented on #93
Doing that is a very bad idea, and won't work properly. I am proposing the current idempotency stuff is retained, but if it's not specified, then we should randomly generate one for the current request, so that the retry middleware behaves well.

[2017-08-28 19:06] GrahamCampbell commented on #93
By that, I mean, sending the same key with every request. Hopefully it's clearer what I meant from the previous comment.

[2017-08-28 19:10] brunogaspar commented on #93
Yap, was just wondering what you were proposing, as the proposal was very vague.

I think i'm ok with that.

[2017-09-06 11:31] brunogaspar commented on #93
@GrahamCampbell Are you planning on sending a PR for this?

[2017-09-06 11:32] brunogaspar commented on #30
Is this still something you might want to have a look @GrahamCampbell ?

Probably a good opportunity for 3.0.

[2017-09-12 15:28] kezern opened #94 "Issue getting application fees"
I'm using laravel to manage payments. Payments works fine, but I want to get fee information after a payment has been created.
I use this code to create a payment
`           $charge = $stripe->accountId('acct_xxxxxxxxxx')->charges()->create([`
	           ` 'currency' => 'EUR',`
	           ` 'amount'   => $postdata["importe"],`
	           ` 'source' => $token['id'],`
	           ` 'description'

[2017-09-12 15:34] kezern commented on #94
I'm sorry, what I need is the fee stripe adds to a charge, not application fee.

[2017-09-12 15:39] kezern commented on #94
I've got the solutions. I needed to get the balance of the payment.

[2017-09-12 15:39] #94 closed

[2017-09-16 12:05] kezern opened #95 "Capture a Charge"
I have craeted a charge with this code.
	       `$charge = $stripe->accountId('acct_XXXXXXXXX')->charges()->create([
	            'currency' => 'EUR',
	            'amount'   => $cobro->importe,
	            'source' => $token['id'],
	            'description' => $cobro->descripcion,
	            "application_fee" => $application_fee,
	        ]);`
When I try to capture it with

`$capture= $stripe

[2017-09-16 12:15] brunogaspar commented on #95
You'll need to pass capture as false when creating the charge, otherwise Stripe will automatically capture the charge.

[2017-09-16 12:15] #95 closed

[2017-09-16 13:03] kezern commented on #95
Thank you.
I don't understand the benefits of not capturing charges.

[2017-09-16 13:41] brunogaspar commented on #95
It depends on the flow your application requires.

Usually the not capture automatically can be seen for example on Amazon, where they only charge when they are ready to fulfil the order. Another scenario is on pre orders.

But for most of the applications, capturing the charge right away is more than enough.

[2017-10-09 01:25] #91 closed

[2017-10-09 01:25] #93 closed

[2017-11-16 01:04] quietseditionist opened #96 "[Proposal] Add support for multiple plans per subscription"
The Stripe API calls this feature 'multiplan' or 'subscription items'.

https://stripe.com/docs/subscriptions/multiplan

You could potentially leave the plan parameter on the subscription requests (change to optional?), but also include an optional argument to hold an array of plans.

[2017-11-16 01:28] brunogaspar commented on #96
Hello @quietseditionist

This is already possible, i was thinking on something else when i replied to your ticket, sorry.

Documentation wise, that's correct, it's not there, which is something that i'm already working on the `feature/docs-refactor` branch.

How to use, nothing complicated, just pass an array of items that contains the plans, something like this:

[code]

The same applies for upda

[2017-11-20 02:32] #96 closed

[2017-12-04 05:51] riteshkhatri opened #97 "Stripe Connect Accounts"
Hello,
I had used thid plugin and i have requirement to connect account though the platform,
I Had connected accounts through
$stripe->account()->create();
The account is created inside the platform and everything is working perfect.
But my question is how the connected account user know that his/ her account is created and they need to fill up their bank account detail for further payout.
Is stri

[2017-12-04 12:29] eaarranz opened #98 "Adding metadata to a token created card"
Hi! We are using your integration to handle the payments on our platform. In order to create the cards, we are using tokens:
`$card = Stripe::cards()->create($customer_id, $token);`
We also want to add metadata to the card since Stripe allows it. And we are unable to find a clean way to do that with your implementation.
We are solving the issue updating the card after the creation, with that we ar

[2017-12-05 12:36] brunogaspar commented on #97
Hello,

Stripe sends an email with instructions for new accounts.

If you're still confused it's better to read their documentation or contact Stripe directly for more information about connected accounts.

Hope it helps.

[2017-12-05 12:36] #97 closed

[2017-12-06 21:53] brunogaspar commented on #98
Hello @eaarranz

Yeah, this is an issue with the `create` method. I'll have a look and see if i can make it work without causing a breaking change on this release. I've done a few changes for v3 locally and this was actually one of them, but nothing is pushed nor production ready at the moment.

Ya, documentation is being "reworked" at the moment, so that should be covered :)

I'll let you know ei

[2017-12-07 07:38] riteshkhatri commented on #97
The doc does not mention what you said, any ways thanks it really appreciated.
I tried in test mode but connected account does not get any mail, is it possible in only Live mode??

[2017-12-07 09:51] brunogaspar commented on #97
It's kinda mentioned [here](https://stripe.com/docs/api#create_account-email).

Probably better to ask this directly to Stripe :)

[2017-12-07 10:05] eaarranz commented on #98
Thx! 👍

[2017-12-11 07:06] riteshkhatri commented on #97
Thanks, Thank you so much...:)

[2017-12-11 15:34] adamcmoore opened #99 "Creating a source requires a customer"
To implement 3D secure a source must be created: https://stripe.com/docs/sources/three-d-secure#server-side-source-creation

A customer is not required by Stripe for the source creation but the Cartalyst API requires a customer_id to use the Sources method.

Am I missing something here?

[2017-12-11 15:46] brunogaspar commented on #99
Hello @adamcmoore,

That is entirely correct!

At the moment our code has the implementation on how Stripe used to have sources.

I've started to update this on a separate [feature/improve-sources-endpoint](https://github.com/cartalyst/stripe/tree/feature/improve-sources-endpoint) branch, but to lack of time, haven't had the time to fully finalise it & ensure tests pass etc.. yet.

You're free to

[2017-12-11 16:38] adamcmoore commented on #99
Thanks for the quick response, and the honesty @brunogaspar!

I'll use the feature branch for the time being - the other changes in the branch won't affect my application, so willing to use untested for the short term.

Cheers :+1:

[2017-12-14 01:16] #98 closed

[2017-12-14 01:18] brunogaspar commented on #98
Hello @eaarranz

I've pushed a fix for this, but if you pass a token, you'll need to pass an array with the source as key and the token as the value (check example below).

I'll make this a bit better on version 3, as for now, i don't want to maybe cause a breaking change.

Example:

[code]

The way i plan to make it work on v3 is by having a 3rd parameter for the parameters and the 2nd for the ca

[2017-12-14 01:27] brunogaspar commented on #99
Hello @adamcmoore

This is now on the `2.0` branch, will push some tests and a tag on the upcoming days.

Will keep the feature branch until this is tagged though.

Thanks!

[2017-12-14 01:27] #99 closed

[2017-12-14 16:44] eaarranz commented on #98
Hi @brunogaspar!
Thanks, that looks good :+1: , i'll try to use it next week and I'll tell you if it's working.

[2018-02-20 14:35] nitsuj102284 opened #100 "Using recent files in repo outside of Composer"
I updated Cartalyst/Stripe to the latest version via Composer
`"cartalyst/stripe-laravel": "8.0.*",`

However, it does not include the latest files in the repo, and I'm not sure what is best practice for getting the latest files not downloaded thru Composer.

For instance, I downloaded **Api/Sources.php** from the repo and backed up the file that was downloaded via Composer, so that I can make use

[2018-02-20 14:56] brunogaspar commented on #100
Hello @nitsuj102284

Composer is most likely working fine, it's probably a bit of confusion on your end and a bit of our fault by not having the documentation fully updated yet, as we have a work in progress overall refresh on the documentation.

Looking at the source code of the [Sources.php file](https://github.com/cartalyst/stripe/blob/2.0/src/Api/Sources.php), there's no `all()` method anymore

[2018-02-20 14:56] #100 closed

[2018-02-20 15:20] nitsuj102284 commented on #100
OK, so that helps that I don't have to update the files manually apart from Composer :). From their documentation, they still use 'sources' endpoint.

Using `Stripe::cards()->all()` and `Stripe::bankAccounts()->all()` shows both cards and bank accounts.

Api\BankAccounts.php
`public function all($customerId, array $parameters = [])
    {
        return $this->_get("customers/{$customerId}/sources"

[2018-02-20 15:22] brunogaspar commented on #100
@nitsuj102284 Oh, that's probably my bad when i moved the methods around.

Want to send a pull request to fix that issue?

That would be super, since you're already digging into the code :)

If not i can look into it later today.

[2018-02-20 16:44] nitsuj102284 commented on #100
@brunogaspar, I'm kind of new to contributing and pull requests. So, for me this makes sense, and I'm sure that it would make sense to others too, but walk me thru this.

What if a developer is using this package already, and not passing an object. They know that they are getting bank accounts _and_ cards. So, updating the code would say that if 'object' is not set, set it to  "bank_account", but

[2018-02-20 17:24] brunogaspar commented on #100
@nitsuj102284

That's totally fine.

Yeap, as i stated on the previous reply, it's an issue/bug on the code.

If the developer is using these methods they are expecting those type of objects to be returned.
Example, for the `Stripe::cards()->all($customerId);` call it's only expected to return cards, and not cards and bank accounts which is what's happening currently, which is incorrect behaviour.

[2018-02-20 17:49] nitsuj102284 commented on #100
I started a pull request, but I don't think that I did it correctly. I cannot pull from latest (2.0).

[2018-07-05 17:18] kristoff2016 opened #103 "How to update card no ?"
Hello,
thanks for your awesome library I do love it.
 I tried update card no
[code]
But I could not update it do you have any idea ?

[2018-07-05 18:39] brunogaspar commented on #103
Hello @kristoff2016

Stripe itself doesn't allow the card number to be updated.

You will need to delete and create a new card i believe.

You can see [here](https://stripe.com/docs/api#update_card) the parameters that Stripe officially allows to be passed when it comes to update cards.

Hope it helps.

[2018-07-05 18:39] #103 closed

[2018-07-10 02:25] kristoff2016 opened #104 "How to check status payment after subscription ?"
Hello again,
I have some question about that I created subscription 2 plans
1. Monthly
2. Yearly
After trails 90 days stripe will be billed on specific dated.
but If they are failed on attempts to process payment how can I query them to know which customer are failed because I will deactivate them on my database

thanks for your help

[2018-07-10 03:07] #104 closed

[2018-07-11 14:11] PrakharSambhav1 opened #105 "Cannot update items present in subscriptions"
Please help i am unable to update item parameter pertaining to a plan.

[2018-08-13 13:14] kieranheadley opened #106 "Reactivate Function doesn't work"
I have been using the package for laravel without issue, I tried to reactivate a subscription for a customer and it made no changes within the Stripe dashboard even though there was no error response. I noticed the below;

Within cartalyst/stripe/src/Api/Subscriptions.php on line 85 you have the below;

[code]

You need to include the below within the attributes to reactivate the subscription;

[c

[2018-08-13 14:30] #106 closed

[2018-09-05 17:43] nickashley opened #107 "Cannot Preview Prorate"
When giving the user the option to change/upgrade their subscription, Stripe allows you to set a prorate date, then preview what the immediate cost would be. With the Stripe SDK, this is done via the Subscription::upcoming method:
https://stripe.com/docs/billing/subscriptions/prorations#previewing-proration

As far as I can tell, there is no way to do this currently with the Cartalyst package.

[2018-09-05 19:11] nickashley commented on #107
I just noticed that this has been implemented in the master branch:
https://github.com/cartalyst/stripe/commit/4fb9a703180f7bb83ecfcbba2bfc85dc15c0a9f5

So I guess I just need to wait until the next version is released - any idea when that would be?

Thanks!

[2018-09-07 14:44] EduardoAlliance commented on #92
never catch expection

try{
                    $charge = $stripe->charges()->create([
                        'amount' => '1',
                        'currency' => 'USD',
                        'description' => 'Order '.$order->invoice_id,
                        'customer' => $user->customer_stripe
                    ]);
                    if($charge['status'] == 'succeeded'){

[2018-09-10 17:18] davidosuna1987 opened #108 "Products and plans for newest API version (2018-09-06)"
Hello!

I'm trying to use your awesome package with my new project, but I need to use subscriptions to plans, and in newest API version (2018-09-06) to create plans, you must to link plan with a product (one product can have several plans)...this functionality is not included into cartalyst plans function.

You think that you implement this functionality?

Very thank you!!

[2018-09-11 10:56] TechTailor commented on #108
Would appreciate the addition as well.

[2018-10-02 15:23] musman92 opened #109 "charge with already added card"
suppose i add many card for one customer then how we charge customer with selected card?

[2018-10-03 08:14] TechTailor commented on #109
Hey,

When you create a charge, the default card (on the stripe account for that user) will be charged automatically, if there is no card stored for that user, you will need to provide one otherwise an error will be thrown -

`$charge = $stripe->charges()->create([
    'customer' => 'cus_4EBumIjyaKooft',
    'currency' => 'USD',
    'amount'   => 50.49,
]);`

In case of a user having multiple card

[2018-10-03 09:43] brunogaspar commented on #105
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2018-10-03 09:43] #105 closed

[2018-10-17 10:15] kristoff2016 opened #110 "How to add bank account to user which created with stripe ?"
Hello,
First, I would like to thank you for great plugin.
Currently, I tried to implement the featured that allowing user update their account profile and add the bank account into their as well.

I could not found any example. Please help me how I implement this featured I can implement the update the credit card but really don't know how to allow user add their bank account to stripe via your pl

[2018-10-17 11:28] eaarranz opened #111 "[Proposal] Add a way to retrieve all the sources (not only Bank accounts and Cards)"
Since #101 / #102 there is not a way to retrieve all the sources. I'm developing a flow involving SEPA sources and something like that will be really useful.

Adding an `all()` method to the `Stripe\Api\Sources` should be enough.

[code]

What do you think?

[2018-10-17 13:51] brunogaspar commented on #111
Hello @eaarranz

I'm fine with that. Can you please submit a PR with some tests?

Thanks!

[2018-10-18 08:11] eaarranz commented on #111
Yes! I'll submit it as soon as possible

[2018-10-20 19:40] eaarranz commented on #111
Thanks!

[2018-11-05 05:44] #110 closed

[2018-11-13 15:11] thorlucas opened #113 "Webhook Signatures?"
There's currently no way to verify webhook signatures using this package, is there? This makes webhooks practically unusable considering how unsafe it is.

[2018-11-23 05:58] maidul98 opened #114 "Trying to create an account for stripe connect"
I'm trying to create a new connect account. This is my code:

`$stripeAccount = \Stripe::account()->create([
            'country' => $this->getCountryCode(),
            'managed' => false,
            'email' => $this->email,
            "type" => "custom",
        ]);`

When I run it, it get this message even though I have added my key in the services.php file:

`"message": "The Stripe API key

[2018-11-23 20:03] maidul98 commented on #114
Just got it working by adding this in my .env:

STRIPE_API_KEY =  YOUR STRIPE KEY

[2018-11-23 21:31] #114 closed

[2018-12-27 10:55] kristoff2016 opened #115 "How to get payment id after subscribed is success ?"
Hello there,
thank you so much for great library, I tried get payment id after user has been subscribed in order to store in my table.

Please help me out.

thank you so much again!

[2018-12-28 05:50] kristoff2016 commented on #113
Yes, I am looking for also

[2018-12-28 08:46] #115 closed

[2019-01-03 21:15] GrahamCampbell opened #116 "Make customerId optional on Subscriptions::all()"
Would you accept a PR to make the customer id param optional on `Subscriptions::all()`?

[2019-01-04 00:37] brunogaspar commented on #116
Yes, go for it.

[2019-01-08 15:20] jamesliscombe opened #117 "SCA (Strong Customer Authentication)"
New EEA (European Economic Area) regulation will require all electronic payments to be SCA compliant from September 2019.

Are there plans to have Cartalyst implementing the Stripe changes which are planned for early 2019?

Currently this framework can't create payment intents.

Regards,

[2019-01-14 12:25] blorange2 opened #118 "Using idempotency_key"
When using your package to create a charge I had an issue where a user could click the submit button multiple times and submit multiple charges.

I read in the official Stripe documentation that you can set a idempotency_key on the Charge object to avoid such situations.

So, I tried the following:

    $charge = $stripe->charges()->create([
        'amount' => $amount,
        'currency' => $curr

[2019-01-14 12:46] brunogaspar commented on #118
@blorange2 I'm assuming that the example you gave was a copy paste from the official Stripe documentation. The majority of the examples from there doesn't entirely work on this library, as the underlying code is totally different :)

See if the following works as expected:

[code]

[2019-01-14 12:50] blorange2 commented on #118
Without sounding dense, or rude, is this documented anywhere?

I'll give your solution and try and get back to you.

[2019-01-14 12:51] brunogaspar commented on #118
It's not documented, but you're free to submit a pull request updating the documentation if you feel like it.

[2019-01-14 13:03] blorange2 commented on #118
That solution worked as expected, I could see the key in my Stripe dashboard.

Thanks again.

I've never updated documentation but I will read into it and make this addition.

[2019-01-15 05:33] lukadriel7 opened #119 "PaymentIntent"
Hello, I Just wanted to ask if PaymentIntent was supported and if not, is there any plans to implement it ?

[2019-01-18 10:49] jurtjee1997 opened #120 "One subscription with multiple plans"
I'm looking for the documentation for implement multiple plans inside a subscription. I saw this issue but I did not get any wiser [(81)](https://github.com/cartalyst/stripe/issues/81).

I tried with this but that did not work:
[code]
Error:
`"message": "Received unknown parameters: 0, 1"`

can someone help me?

[2019-01-19 00:32] brunogaspar commented on #118
Glad it worked and no worries about the documentation, i'm sure i'll get it updated soon :)

[2019-01-19 00:32] #118 closed

[2019-01-19 00:32] brunogaspar commented on #119
Hello @lukadriel7

Yes, this is on my todo list.

Going to close this though as it's a duplicate of #117

[2019-01-19 00:32] #119 closed

[2019-01-19 00:33] brunogaspar commented on #116
Feel free to submit the pull request if you feel like it.

[2019-01-19 00:33] #116 closed

[2019-01-19 10:03] jamesliscombe commented on #117
That’s great. I want to stick with Cartalyst, I’ll keep checking the documentation throughout this year.
Thanks

[2019-01-19 11:07] jurtjee1997 commented on #120
Thank you, but how can i update it with:
[code]

Error:
`"Cannot add multiple subscription items with the same plan:"`

[2019-01-19 11:16] brunogaspar commented on #120
As far as i'm aware, you can't attach the same plan multiple times to a single subscription. For that you would need to create 2 subscriptions and apply that plan.

That's how Stripe works and there's nothing we can really do i don't think. If you try with their dashboard, i believe you'll get similar results.

Hope it helps.

[2019-01-19 13:21] jurtjee1997 commented on #120
you can change the quantity but how??

[2019-01-19 16:02] brunogaspar commented on #120
You'll need to pass the Subscription Item ID.

The Subscription Item ID starts with `si_` and is returned when you create a subscription inside the `items` array, you just need to check the data that Stripe returns after you create a Subscription.

To update a Subscription Item you have 2 ways of doing it, i think.

This way, while it's longer, it allows you to update multiple items in one go:

[c

[2019-01-25 06:55] lukecurtis93 commented on #113
You could make your own implementation in the mean time, this is a laravel example -https://github.com/laravel/cashier/issues/437#issuecomment-388779839

If you're not using laravel this is the important bits
[code]

You just need to use the appropriate helpers/functions from your specific framework to get these parameters

[2019-01-30 18:20] mprythero commented on #110
Interested in this as well, at the moment, it appears that you are only allowed to create a one-time use token for a bank account, but cannot directly associate it with a Stripe customer like you can with a card. Did you find a way to work with this since you were the one who closed it?

[2019-02-17 19:03] #30 closed

[2019-02-17 19:03] #38 closed

[2019-02-17 19:03] #88 closed

[2019-02-17 19:04] brunogaspar commented on #109
Thanks for the explanation @TechTailor

[2019-02-17 19:04] #109 closed

[2019-02-19 23:12] jurtjee1997 commented on #120
When i downgrade a subscription item, wil it be charge this month? and how can i delete a subscriptionItems? quantity 0?

[2019-02-20 05:42] MusabAkram opened #122 "send invoice email to customer"
How to send email to customer when invoice is charged or created?
I'm creating an invoice that is charged automatically and it gives me a url to receipt instead of sending email to the customers about the incurred charges.
Stripe documentation has a method called "sendInvoice()" for send invoice to the customer, i cannot find that functionality in cartalyst.

[2019-02-24 17:33] brunogaspar commented on #120
You'll need to pass the `prorate` flag to indicate Stripe that you want it to be prorated i suppose?

Here's documentation about [Prorations](https://stripe.com/docs/billing/subscriptions/prorations).

You can delete a Subscription Item by calling `$stripe->subscriptionItems()->delete('si_EN6H3xImJT5sU3');

It's not documented at the moment i'm afraid.

Hope it helps 🍻

[2019-02-24 17:33] #120 closed

[2019-04-15 10:33] GrahamCampbell commented on #117
Any news on this? ;)

[2019-04-15 10:34] GrahamCampbell commented on #91
@brunogaspar The 2.0 branch is still containing 2.1 code. Should it be renamed to 2.1?

[2019-04-15 11:29] GrahamCampbell opened #123 "Odd Idempotency Key Model"
I thought the point of an idempotency key is something that is unique per operation. Thus, why would someone want to set it when creating a client? Surely this should be something set every time we want to "do something", not when we want to create, say, a cards client instance?

[2019-04-15 11:38] brunogaspar commented on #123
It's really up to you to decide if your requests are idempotent or not, not me or the library.

Therefore, you can enable on a per request basis or globally on your project and have a way to have the key unique per the request you're doing.

Having it on the Client level was the cleanest and easiest way to achieve, if you have other way to simplify it, you are more than welcome to submit a pull re

[2019-04-15 11:38] #123 closed

[2019-04-15 18:55] GrahamCampbell commented on #123
But then I have to create a new client over and over?

[2019-04-15 18:56] GrahamCampbell commented on #123
But that's not how the code works. One must set a distinct idempotency key for each distinct operation. The code here only allows a single key to be set.

[2019-04-15 18:57] brunogaspar commented on #123
Then propose a better way i guess?

[2019-04-16 02:05] brunogaspar commented on #123
Just an idea, that seems doable to implement, and can/should be backwards compatible (without the need to move or remove the current `Stripe::idempotent` behaviour).

[code]

Basically, there will be a `idempotent(:key)` method on the API class, then when the header is set, it can keep backward compatibility.

I haven't tested this, but seems doable and fixes the issue i assume?

Will assert tomor

[2019-04-16 11:03] GrahamCampbell commented on #123
Yes, I was just thinking about this this morning on the train. That was the identical solution I was going to propose. :)

[2019-04-16 11:11] brunogaspar commented on #123
Cool, please check https://github.com/cartalyst/stripe/pull/124 whenever you have time.

Only added one test though, but should show it works, hopefully.

[2019-04-16 11:33] GrahamCampbell commented on #123
I've left some feedback .:)

[2019-04-18 10:53] ConnorVG commented on #117
Any news yet?

[2019-04-20 11:50] brunogaspar commented on #122
Will be available on the next release.

[2019-04-20 11:50] #122 closed

[2019-04-20 11:51] brunogaspar commented on #107
Will be available on the next release, 2.1.5.

[2019-04-20 11:51] #107 closed

[2019-04-20 11:51] #117 closed

[2019-04-21 15:00] brunogaspar commented on #108
Hello

This was already possible for quite some time.

While the products API is used for goods and services, the endpoint is the same.

Do let me know if there's any issue.

Thanks!

[2019-04-21 15:00] #108 closed

[2019-04-21 15:02] brunogaspar commented on #113
Not entirely sure this really belongs on the library level, since the library itself is mostly to interact with the Stripe API.

On my end, with Laravel, i've created a middleware to achieve this, and on the Webhook controller i use that middleware. If needed i can share the middleware.

[2019-04-21 15:02] #113 closed

[2019-04-21 15:06] brunogaspar commented on #91
Sorry, i forgot about this.

Not entirely sure how to better approach this though but here are some thoughts:
1) Create `2.1` branch till the latest commits of the 2.1.4 release
2) Reset `2.0` branch to the commits before the commits of 2.1 (it's a bit of a breaking change i assume)
3) Leave it as is but create a `2.1` branch regardless

[2019-05-07 02:57] alcandelario opened #125 "Add stripe response headers to exception object"
Any chance the headers could be added to the exception object? I've run into an integration issue where Stripe's support team wanted the "request_id" header my server received and it looks like the Cartalyst\Stripe\Exception\Handler's constructor only grabs the response body.

[2019-05-07 07:12] brunogaspar commented on #125
Hey @alcandelario

Yeah, that's a possibility!

Could you submit a pull request for me please?

Thanks!!

[2019-05-18 13:39] #125 closed

[2019-05-22 16:15] dominik-wbz opened #126 "Received unknown parameter: requested_capabilities"
Trying to create an account for Stripe Connect with Stripe-provided example:

[code]

This produces an error of: Received unknown parameter: requested_capabilities

When I remove 'requested_capabilities' the account is created but requested_capabilities is required for sending payments.

Also other parameters like business_type which is also required for my use cannot be used.

Can you help me? Th

[2019-05-22 16:30] brunogaspar commented on #126
Hello @dominik-wbz

From the code example above, it seems you're using the official [Stripe library](https://github.com/stripe/stripe-php) and not this one.

But either way, the issue you're having seems to related to the Stripe version.

Either the library is send an old Stripe Version or your API Version is old and the version required is at least `2019-02-19`.

For setting the Stripe Version on

[2019-05-22 16:30] #126 closed

[2019-06-03 16:24] lukadriel7 opened #127 "Documentation update"
Hello, I have been planning to use stripe cartalyst for my platform because it seems simpler than the regular stripe API and has a Laravel integration. I was waiting for the implementation of payment intents before moving forward, which was implemented in 2.2 it seems. Unfortunately I didn't find any documentation about the new features. Is there any plans to update the documentations or any place

[2019-06-04 23:17] EddyTheDove opened #128 "Partially capture a charge"
Hello, in your documentation for charge capture, only the charge ID is required. You asked to pass the amount in the parameters array. When doing so, I received an error saying
`Invalid integer: 0.00`.

What actually works for me is to pass the amount as the second parameter like this:

`$stripe->charges()->capture($chargeID, $amount)`

Perhaps I'm doing something wrong, else please update your do

[2019-06-05 10:12] brunogaspar commented on #128
Without seeing what your `$amount` value looks like, it's difficult to understand what might be wrong.

[2019-06-05 15:57] brunogaspar commented on #127
Hello @lukadriel7

Yes, you're totally right, i've been slacking a bit on documentation.

But for now, i believe you can get along on how to use Payment Intents from the tests [here](https://github.com/cartalyst/stripe/blob/2.2/tests/Api/PaymentIntentsTest.php) which i think is straightforward, but of course, do let me know if you find issues or have questions :)

[2019-06-12 11:48] GrahamCampbell opened #129 "Wrong version constant"
I have the 2.2.1 release installed, but Stripe's logs say it is 2.1.4. Sure, enough, the version constant is wrong: https://github.com/cartalyst/stripe/blob/v2.2.1/src/Stripe.php#L27-L32.

[2019-06-12 12:27] brunogaspar commented on #129
Nice catch!

Will try to do a release with that fixed ASAP.

Thanks.

[2019-06-16 00:16] brunogaspar commented on #128
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-06-16 00:16] #128 closed

[2019-06-16 01:08] #129 closed

[2019-06-19 05:55] anshul977 opened #130 "Received unknown parameters"
**Request**
[code]

After this, I am getting a problem

**Issue**
[code]

Can you please help me why I am getting this?

[2019-06-24 10:18] brunogaspar commented on #130
@anshul977 sorry you're having problems when trying to create an external account.

From the error you've pasted, it seems you're passing parameters that Stripe does not allow or never allowed to be passed.

Try with

[code]

If it still does not work, i would recommend you to consult [this page](https://stripe.com/docs/api/external_account_bank_accounts/create) and check which parameters you can

[2019-06-28 22:36] ibrainventures opened #131 "subscriptions create with the "default_tax_rates" array gives a invalid_request_error / parameter_unknown"
If i try with the cartalyst routine :

[code]

the stripe api gives me : "invalid_request_error"  or  array_error or parameter_unknown

with the origin stripe-php following is working:

[code]
this creates a api post with:

[code]

https://stripe.com/docs/api/subscriptions/create#create_subscription-default_tax_rates

any idea how i can solve this issue ?

[2019-06-28 23:07] brunogaspar commented on #131
You'll need to pass the same payload where the plan is inside an items array.

[2019-06-28 23:07] #131 closed

[2019-06-28 23:17] ibrainventures commented on #131
Hi,

did you mean so : ? .. This is also not working ...

Can you give me please a hint ...

   $subscription = Stripe::subscriptions()->create('cus_FL5YO******3ZCO', [
                "items" => [
                    [
                        "plan" => "plan",
                        "default_tax_rates" => ['txr_1EqLf*****Ayn8ogk'],
                    ],
                ]

        ]);

[2019-06-28 23:18] ibrainventures commented on #131
default_tax_rates is something other than tax_percent ... tax_percent is working .. but default_tax_rates is not ..

[2019-06-28 23:19] brunogaspar commented on #131
Something like this:

[code]

It should work as expected that way

[2019-06-28 23:30] ibrainventures commented on #131
nope .. same error .. as i got the last 6 hours  ..

 Cartalyst \ Stripe \ Exception \ MissingParameterException (400)
Received unknown parameter: default_tax_rates

on the dashboard:
{
  "default_tax_rates": [
    "txr_1EqLfuLaI0******tbAyn8ogk"
  ],
  "items": [
    {
      "plan": "plan-name"
    }
  ]
}

...

2 possibilities:

1) the stripe api has a bug with this post-type (the customer id in

[2019-06-28 23:50] brunogaspar commented on #131
The indexes are not needed to be passed.

Unfortunately, i'm not able to reproduce the problem on my end with the code above.

I can send the request as expected (of course it errors out since i don't have  that tax rate and it would fail for the plan as well)

![Screen Shot on 2019-06-29 at 00:48:00](https://user-images.githubusercontent.com/2285372/60376541-982c4f00-9a07-11e9-818d-d35927b32fa9.p

[2019-06-29 03:01] brunogaspar commented on #130
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-06-29 03:01] #130 closed

[2019-06-29 08:02] ibrainventures commented on #131
Hi Bruno,

testing with those params / no existing tax-rate id .. is giving me the same error response like your test ..

But .. with existing plan und tax-rate it is not working .. definitily ..

So .. please . if you have the little-time ..  you can easily create a  tax-rate in the dashboard
and may you have a exisitng plan inside your test-data-area

https://dashboard.stripe.com/test/tax-rates

[2019-06-29 09:54] brunogaspar commented on #131
Alright, i see what's wrong and also seems a breaking change from Stripe as after running the test suite of this package, it's now breaking a lot.

Basically they don't allow the old endpoints like is `customers/{$customerId}/subscriptions"` to be used when you pass for example very new stuff like this `default_tax_rates`.

Will try to do a release with this fixed later today if i don't notice the

[2019-06-29 10:12] ibrainventures commented on #131
.. i am happy, that this issue is also happening on your side .. ;-)

Stripe is  working hard on doing their best to not loosing all re-billings after 14th September 2019,
because of the SCA / PSD2 rules ..

https://stripe.com/docs/strong-customer-authentication/connect-platforms#saving

If i read it right, all European Customers / Subscriptions can / are affected ...

There is also a info:

.
May

[2019-06-29 19:40] brunogaspar commented on #131
Pushed a fix, hopefully it works as expected for you now.

Do a `composer update` and give it a try please.

[2019-06-29 20:05] ibrainventures commented on #131
wohoooa ! .. composer updated .. and tested with those styles:

[code]

and:
[code]
--> works without any problems, and the tax-rates are included!

also testet some paymentIntent create and confirms .. all works fine ..
Inside the logs i saw, that the uri now without `$customer ` sent  ...

PERFECT .. what a great weekend ..

I wish you all the best and 👍 👍 👍

[2019-06-29 21:17] GrahamCampbell opened #132 "Idempotency changes not in latest tag"

[2019-06-29 22:11] brunogaspar commented on #132
No need to create issues, i'll get to it asap.

[2019-06-29 22:11] #132 closed

[2019-07-02 14:39] GrahamCampbell opened #134 "Odd exception type"
[code]

`MissingParameterException` seems like an odd choice of exception. Can we choose a different class perhaps?

[2019-07-02 14:44] brunogaspar commented on #134
We could, though it will be a bit of a breaking change as it would change for everything.

Will leave that change for next major version.

[2019-07-02 14:44] #134 closed

[2019-07-03 03:38] ibrainventures opened #135 "New Stripe API Setupintents ..."
Hi Bruno,

the stripe-think-tank has work done ::

**Setupintents**
https://stripe.com/docs/api/setup_intents

there we can go for handling also the SCA for Subscription ..

Any timeplan for wrapping this interface ?

[2019-07-03 09:25] brunogaspar commented on #135
I'll get to it today.

[2019-07-03 11:17] GrahamCampbell commented on #135
:rocket:

[2019-07-03 17:44] #135 closed

[2019-07-10 18:18] MichleLI opened #137 "I can't fix this error"
I am going to create subscription using cartalyst.
please help me!
$subscription = $stripe->subscriptions()->create('cus_FPXFPVGROcb70E', [
      'plan' => 'monthly_1',
 ]);
![image](https://user-images.githubusercontent.com/45660446/60993821-cb64cb80-a381-11e9-81cf-666cde7d82db.png)

[2019-07-10 18:30] brunogaspar commented on #137
Hello @MichleLI

Our documentation is a tad outdated, we're working on updating it.

In the mean time, you'll need to pass an items array where it would contain another array for each plan you want your subscription to have and other relevant information like quantity etc...

Something like this:

[code]

Let me know if that helps.

[2019-07-10 19:33] MichleLI commented on #137
![image](https://user-images.githubusercontent.com/45660446/60998938-8c884300-a38c-11e9-9a11-e23f99ce8de9.png)
changed error status!

[2019-07-10 19:35] GrahamCampbell commented on #137
For me, I don't pass items, and it works.

[code]

[2019-07-10 19:36] GrahamCampbell commented on #137
Is your plan ID correct. That is probably why Stripe is complaining. Make sure you add it in both live and test mode, that is, if you only created the plan in live mode. Plans and products are distinct between live and testing.

[2019-07-10 19:38] MichleLI commented on #137
![image](https://user-images.githubusercontent.com/45660446/60999296-61522380-a38d-11e9-9889-f29ae6867e27.png)

[2019-07-10 19:39] MichleLI commented on #137
I hope you to help me
please help me!

[2019-07-10 19:40] GrahamCampbell commented on #137
I don't see why this wouldn't work. Are you using the test mode secret key?

[2019-07-10 19:40] MichleLI commented on #137
yes, I am using test secret key.

[2019-07-10 19:41] GrahamCampbell commented on #137
What did you set as the API version?

[2019-07-10 19:42] MichleLI commented on #137
2.2.8(cartalyst 10)

[2019-07-10 19:43] GrahamCampbell commented on #137
The API version will look like a date. For example, `2019-05-16` is the latest.

[2019-07-10 19:44] GrahamCampbell commented on #137
This library is hard coded to use `2017-06-05` if no version is supplied. Maybe try with `2019-05-16`?

[2019-07-10 19:45] brunogaspar commented on #137
Does that customer you're passing exist?

Go into the Logs page https://dashboard.stripe.com/test/logs and click on one that gave a 400 so you can see what Stripe is complaining.

Also as @GrahamCampbell suggested, use the newer version too.

[2019-07-10 19:46] MichleLI commented on #137
can you help me via anydesk. so sorry!
850 612 738

[2019-07-10 19:51] MichleLI commented on #137
![image](https://user-images.githubusercontent.com/45660446/61000049-2cdf6700-a38f-11e9-8591-c8f6037fa766.png)

[2019-07-10 19:53] brunogaspar commented on #137
According to your last image, the customer does not have any card attached.

You'll need to first associate a card to the customer then you can create the subscription.

[2019-07-10 19:54] GrahamCampbell commented on #137
Stripe Elements is a simple way to setup this.

[2019-07-10 19:54] GrahamCampbell commented on #137
https://stripe.com/docs/stripe-js/elements/quickstart

[2019-07-10 19:56] MichleLI commented on #137
we have to use this script?
<script src="https://js.stripe.com/v3/"></script>

[2019-07-10 19:58] GrahamCampbell commented on #137
Among other things. Have a full read of their docs so you get a feel for the terminology and what's going on. Be prepared to spend a couple of hours setting up Elements.

[2019-07-10 20:02] MichleLI commented on #137
Thanks GrahamCampbell and brunogaspar!

[2019-07-10 21:12] brunogaspar commented on #137
You're welcome.

Let us know if you have other questions or issues.

Regards!

[2019-07-10 21:12] #137 closed

[2019-07-17 02:52] growthboot opened #138 "Issue with canceling at end of subscription"
Code:
$subscription = $stripe->subscriptions()->cancel('cus_4EBumIjyaKooft', 'sub_4ETjGeEPC5ai9J', true);

Issue:
When $atPeriodEnd is present the following error appears:

Potential fix:
As mentioned here:
https://github.com/laravel/cashier/issues/551
You can use cancel_at_period_end on the subscription update endpoints instead.

[2019-07-17 09:20] brunogaspar commented on #138
Unfortunately, it's not as straightforward as you might think as i can't just rename an attribute and that's it :\

This will most likely need to wait until a new major version and i'm aware of this "field" and many others that have been renamed on Stripe end.

For the time being, you can use the `update` method and pass the `cancel_at_period_end` attribute until then, it's the only doable fix i h

[2019-07-17 16:00] growthboot commented on #138
That is unfortunate. I'm very surprised the renaming of a parameter can cause such a complicated issue. It's not clear in your documentation how I could use the update to achieve the same result.

[2019-07-17 16:07] brunogaspar commented on #138
Yes, it's mostly due to how Stripe handles versioning.

You just need to pass the `cancel_at_period_end` on the `parameters` array:

[code]

It's not difficult.

Let me know how it goes :)

[2019-07-17 16:23] growthboot commented on #138
Worked beautifully! My confusion came from the fact that I thought I would still need to call `cancel` and `reactivate` methods but I tried just updating the parameter alone and checking stripe which shows it works. Very happy now that it works, thank you :)

[2019-07-27 11:43] #127 closed

[2019-08-05 15:58] blorange2 opened #139 "Will this package be suitable for Strong Customer Authentication (SCA)"
Stripe is soon to implement a type of two factor authentication to adhere to SCA, so the `Charge` object is to be succeeded by a `PaymentIntent` object.

Will this package support this or should I use the native Stripe PHP library?

Thanks

[2019-08-05 16:12] brunogaspar commented on #139
Hello @blorange2

This library already supports Payment Intents and the majority of the new required API's from Stripe, just not documented yet.

An easy to understand way is to refer to the tests [here](https://github.com/cartalyst/stripe/blob/2.2/tests/Api/PaymentIntentsTest.php).

If you still have questions or notice that something is missing or not working, do let me know.

Thanks!

[2019-08-05 16:12] #139 closed

[2019-08-06 08:30] blorange2 commented on #139
Hi,

That was where my confusion was as the documentation made no mention of it. I'll have a read of what you've provided and get back to you if necessary. Thanks for the quick reply.

[2019-08-06 09:46] blorange2 commented on #139
A further question: the official Stripe documentations mentions the following when using Stripe Elements:

[code]

My original code for a `Charge` was like so:

[code]

Fundamentally, the difference seems to be that you can't avoid the use of AJAX.

[2019-08-06 09:50] brunogaspar commented on #139
You can try their new thing called Stripe Checkout, that's compliant with SCA, though feature wise, is a bit limited, but if you don't use coupons and what not, it should simplify your implementation, unless you really need a very custom UI etc.. :)

[2019-08-06 09:59] realtebo commented on #139
Could you update documentation to include payment intents and friends for SCA?

[2019-08-06 10:28] blorange2 commented on #139
It's more so because I was using voucher codes originally

[2019-09-08 12:23] 7twin opened #141 "Support for Checkout"
Stripe checkout was mentioned as an option for SCA here: https://github.com/cartalyst/stripe/issues/139#issuecomment-518597911

Would that imply the use of stripe-php or does this library also support it, by e.g. passing whatever payment method token checkout returns to [cards()->create()](https://cartalyst.com/manual/stripe/2.0#create-a-card)? though that would also need a [checkout session](http

[2019-09-08 17:33] 7twin commented on #141
Undocumented, but here are the necessary tests covering the remaining function necessary: https://github.com/cartalyst/stripe/blob/d0ec99a487e47111b62915d0dbd40194aa8c24fb/tests/Api/Checkout/SessionsTest.php#L30

[2019-09-08 17:33] #141 closed

[2019-09-25 21:05] AlbertoSinigaglia opened #142 "Payment intents impossible to use"
i'm using payments intent and i'm trying to use it without the documentation, taking in account that there is no documentation on this... but, how can i understand for example what you mean about PaymentIntent o Webhook ''$parametes'' if there is no ''$parameters'' array example on the comments below? can you please put a comment with the options available and what that means? or giving a possibil

[2019-09-25 21:19] brunogaspar commented on #142
It's as simple as:

[code]

Same goes for Setup Intents, which you don't need to pass anything if you don't want to:

[code]

For now, you can refer to the tests as they give you good examples:
- https://github.com/cartalyst/stripe/blob/2.2/tests/Api/PaymentIntentsTest.php
- https://github.com/cartalyst/stripe/blob/2.2/tests/Api/SetupIntentsTest.php

Also it's recommended to read the Official Stri

[2019-09-25 21:19] #142 closed

[2019-09-25 21:47] AlbertoSinigaglia commented on #142
yes but how i can manage WebHook? on the tests i can see how to manage a WebHook, but there is no ''handler'' for it... i mean, as Stripe documentation says, they will send a request to a given route with the information about a PaymentIntent that has changed his status... how can i handle it? i'm referring to [this page](https://stripe.com/docs/payments/payment-intents/verifying-status#webhooks)

[2019-09-25 21:53] AlbertoSinigaglia opened #143 "Corresponding method"
can't find the corresponding [method referred on this page](https://stripe.com/docs/payments/payment-intents/verifying-status#webhooks) as `\Stripe\Webhook::constructEvent`
i've checked on stripe/src/Api/Events and on stripe/src/Api/WebhookEndpoints but ive found nothing about it, also i can't find any test about it

[2019-09-25 21:54] brunogaspar commented on #142
Ah well, this package is not meant to handle Webhooks (receive the requests), it is just an API client for the Stripe API.

But to shed some light on what you need to do, you need create a dedicated route (i assume you're on Laravel) that receives a `POST` request from Stripe, there you can perform the necessary actions based on what Stripe sends through the Webhook.

[2019-09-25 22:24] brunogaspar commented on #143
Sorry, but this package only supports the API endpoints that are on the [Stripe API Spec](https://stripe.com/docs/api).

This unfortunately is not on their API Spec, therefore it's something we can't support and you'll need to build it in your application.

However, there's already a few Laravel packages that solves this problem for you, just search for Laravel Stripe Webhook on Google or GitHub a

[2019-09-25 22:24] #143 closed

[2019-10-03 13:53] xitude opened #144 "Creating a source for an existing customer"
Following stripes doc's [here](https://stripe.com/docs/sources/customers#attaching-a-source-to-an-existing-customer-object).

I should be able to create a new source for an existing customer, could you direct me to the correct place in the documentation to create this via cartalyst?

Thanks

[2019-10-03 14:00] brunogaspar commented on #144
Hey @xitude

I need to add docs for Sources, thought i had them..

But for now creating a Source can be done by doing something like the following:

[code]

The parameters of the array you can find [here](https://stripe.com/docs/api/sources/create).

Similar API for update and deletion, but you pass the Source ID as the first argument of each method.

Will keep the issue open so i don't forget abo

[2019-10-03 14:01] xitude commented on #144
Thanks, Im integrating SEPA at the moment so it would be good to add that to documentation.

[2019-10-03 14:04] #144 closed

[2019-10-09 15:29] AlbertoSinigaglia opened #145 "WebHook validation"
in Stripe API docs, inside webhook validation, there is
[code]
in this library exists the ''Stripe\Event'' element?

[2019-10-09 16:00] brunogaspar commented on #145
Hi @AlbertoSinigaglia

hmm not sure what that `constructFrom` method does, but i guess we don't have that behavior.

But if it's to validate a webhook, we don't provide any webhook validation on this library, as that's a bit out of the scope of this library i'm afraid.

But you can fetch events with our library https://cartalyst.com/manual/stripe/2.0#events just does not have webhook validation if

[2019-10-09 16:00] #145 closed

[2019-12-02 22:20] KaminoU opened #146 "$stripe->products()->all();"
### Your Environment

- OS and Version: Ubuntu 18.04.3
- PHP Version: 7.3.12
- Stripe Laravel Version: ^11.0

### Expected behaviour

an array of products

### Actual behaviour

empty array :
array:4 [▼
  "object" => "list"
  "data" => []
  "has_more" => false
  "url" => "/v1/products"
]

### Steps to reproduce

`dd($stripe->products()->all());`

Hi,

I firstly though that I made some typo error b

[2019-12-03 11:11] KaminoU commented on #146
Thank you for your quick reply @brunogaspar

I do not know what to say then :/
I believe that I can do without it but still... it's weird =)

I do not know if it would help or not, I flushed all my test data and even with new fresh one I still have the same behaviour (but only with products()->all())

products()->find() is OK and customers()->all() is also OK

[2019-12-03 12:02] brunogaspar commented on #146
What is the API Version you're using?

Either the one from https://dashboard.stripe.com/developers or what you've might set on the config file.

I've tried with different versions, can't reproduce either and it has been working as expected for quite some time, since this products API was introduced on the library.

[2019-12-03 12:47] KaminoU commented on #146
hum... as it's optional I must admit that I did not pay attention on it (it's the default one).

I will check it =)

And about the artisan command error, do you have any tips please?

[2019-12-03 14:55] brunogaspar commented on #146
This package does not have any Artisan command.

[2019-12-03 15:50] KaminoU commented on #146
You are right sorry, I read 2 differents page, was focused on my issue and didn't pay attention

https://cartalyst.com/manual/stripe-billing-laravel/11.x#installation

And

https://cartalyst.com/manual/stripe-laravel/11.x

[2019-12-03 17:33] KaminoU commented on #146
Love U <3 @brunogaspar  =3

After forcing the version of the API, it works well.

I checked the log on Stripe console and set the 2019-11-05 as the default. Before, the default API version was 2018-09-06 and for a weird reason, without declaring the API version, the call of products()->all() trigger all the other API version (it's the info I got from the log). Maybe it explains why I have an empty

[2019-12-03 17:33] #146 closed

[2019-12-27 21:46] GrahamCampbell opened #148 "Travis failing"
What's up with the latest travis run?

[2019-12-27 21:56] brunogaspar commented on #148
Nothing to worry about.

[2019-12-27 21:56] #148 closed

[2020-01-01 16:28] GrahamCampbell opened #153 "[2.x] Null Parameter Bug"
It's not possible to unset a customer's address, because the way to do this is to explicitly pass a null parameter. Unfortunately, when `http_build_query` is called, this parameter gets removed.

Broken example code, which results in no parameters being sent:

[code]

[2020-01-01 16:36] GrahamCampbell commented on #153
Ok, so replacing `null` with the empty string seems to work. D'no if we should just say that the correct thing to do is to use the empty string, or if we should do something to fix this. Though, we might not want to automatically convert null parameters to empty strings... will likely break other things.

[2020-01-01 21:31] brunogaspar commented on #153
Will try something out, thanks for the report.

[2020-01-02 17:54] brunogaspar commented on #153
From what i could test, converting `null` to empty string `''` is the only decent way.

There's only a few places that requires an array_filter on the library, but other than that, it seems to work as expected.

Even using the `form_params` instead of `query` for POST requests will have this problem if i remember properly, since it uses the http_build_query internally, but again, if i remember pro

[2020-01-03 00:22] GrahamCampbell commented on #153
Yeh, not sure. Maybe we should only make this change in 3.x, since it's not clear what we might accidentally break? Maybe people are using the behaviour that null stuff is removed?

[2020-01-03 00:29] brunogaspar commented on #153
I don't mind to have this fixed on 2.3 and 2.4 but of course the safest way is on 3.x since this is a bug fix but is also a breaking change.

So, i guess i'll leave it as is for now on the 2.x versions and push the fix for 3.x.

[2020-01-03 00:30] GrahamCampbell commented on #153
Sure. Anyone wanting to work around the current behaviour can just set the empty string in place of null, in their own code. This is what I have done, and that works fine in 2.4.0, and will also work in 3.x.

[2020-01-03 12:08] brunogaspar commented on #153
I have this fixed locally on the 3.x branch, will push this soon as a separate commit to that branch.

[2020-01-03 12:08] #153 closed

[2020-01-03 13:34] GrahamCampbell commented on #153
Cool. 👍

[2020-02-04 15:14] BaiMaoLi opened #154 "How to create customer with token"
I need to create customer with token.
But it is giving error "token not supported"
Please help me.
Thanks. best cheers

[2020-02-04 15:28] brunogaspar commented on #154
Not sure what you by creating customer with token.

Please elaborate and paste some code so i can try to understand what you're trying to achieve.

[2020-02-08 13:36] raoikram opened #155 "Call to undefined method Cartalyst\Stripe\Stripe::recipients()"
### Your Environment

- OS and Version: 64 Bir Windows 10
- PHP Version: 7.2.19
- Stripe Laravel Version: 11.0.*

### Expected behaviour

*Please describe what you are expecting to see happening.*
i was trying to create recipients but i sae this error on api call.

### Actual behaviour
  $recipient = $stripe->recipients()->create([
            'name' => 'John Doe',
            'type' => 'individua

[2020-02-08 13:36] #155 closed

[2020-02-15 03:59] #154 closed

[2020-02-15 04:19] BaiMaoLi opened #156 "How to create payment method with card id?"
I need to create payment method from existing card id.
But I could not handle by your documentation.
If there is any way, please let me know.
Thanks

[2020-02-15 07:09] BaiMaoLi opened #157 "create subscription with default_payment_method not working"
create subscription with default_payment_method not working

[2020-02-15 12:32] brunogaspar commented on #157
Hey

Please elaborate what is not working? Do you have a code sample?

[2020-02-15 12:33] brunogaspar commented on #156
Hey

So, you have a Card object on Stripe and you want to convert it to a Payment Method?

[2020-02-15 12:49] BaiMaoLi commented on #156
Hello.
Sorry, it was my false,
When I have cards, i only have to do default_source when creating subscription.
No need to create payment method by card id.

[2020-02-15 12:49] BaiMaoLi commented on #156
So, it is solved, and I am closing.
Thanks for your support.

[2020-02-15 12:49] #156 closed

[2020-02-15 12:50] BaiMaoLi commented on #157
It is solved.

[2020-02-15 12:50] #157 closed

[2020-02-15 22:14] aalicki opened #159 "paymentIntentSetup - Unknown parameter"
After reviewing the docs, test case, and examples, it seems that the parameter "confirm" (which is expected to be true or false), is not accepted as a parameter when running `$stripe->paymentMethods()->create`

For example:
[code]

The error received when attempting to run the code with the confirm param is "Received unknown parameter: confirm "

Edit: Unless this is the wrong documentation, the p

[2020-02-15 22:45] GrahamCampbell commented on #159
Is that the raw credit card number? Absolutely **do not do this** unless you have some very special reason you need this and want to go through the regularity steps to be permitted to handle raw credit card data within your backend.

The expected way to use this API is to have Stripe JS generate a special token, and have that sent to your backend server. Stripe provide JS implementations that make

[2020-02-15 22:50] brunogaspar commented on #159
@aalicki You're linking to the Setup Intents docs, but you're using the Payment Methods API on your example code.

The documentation you want is https://cartalyst.com/manual/stripe/2.0#create-a-payment-method but it can happen to be outdated, if it's you can check https://stripe.com/docs/api/payment_methods/create which is the source of truth of the "parameters" you can pass.

Hope it helps.

[2020-02-15 22:50] #159 closed

[2020-02-16 11:47] ayman-elmalah opened #160 "Recipients have been deprecated and are no longer available"
### Laravel valet

- OS and Version: macos
- PHP Version: 6.x
- Stripe Laravel Version: 2

I need to transfer money from my account to different bank accounts
so i need to add Recipient and transfer to them
so i use this method from docs
$recipient = $stripe->recipients()->create([
    'name' => 'John Doe',
    'type' => 'individual',
]);

### Expected behaviour

* may be any success message

###

[2020-02-16 12:48] brunogaspar commented on #160
As recommended by Stripe and also as @GrahamCampbell correctly pointed out, you should use a different API, in this case is the Accounts API.

Renaming or even modifying the Recipients API on this library, albeit being deprecated is a breaking change as it still works on old Stripe API Versions.

Hope you understand.

Regards.

[2020-02-16 12:48] #160 closed

[2020-02-19 18:18] aalicki commented on #159
@GrahamCampbell - I was basing the initial working example off of the Stripe docs (and this library's docs) strictly. I've since moved over to tokenized card data and realized this library wasn't a good fit for the platform's needs. The idea was to never expose the CC data to any aspect of the backend, ended up using the Stripe library directly and Elements.

[2020-02-19 18:23] brunogaspar commented on #159
Care to elaborate what was bad or wrong on this library so it can be improved?

[2020-02-19 18:38] aalicki commented on #159
Sure!

For example, https://cartalyst.com/manual/stripe/2.0#setup-intents - it gives some overview on the SetupIntent, but then uses a "paymentMethod" end point, which is incorrect. It should be using "setupIntents" if I recall correctly.

The example code in this particular section also demos using the customer's explicit card information, a PCI violation I believe. I was using this for developin

[2020-02-19 18:48] brunogaspar commented on #159
That example is indeed incorrect, you could've submitted a pull request to fix it, it's open source after all :)

Yes, i totally get your point, probably it could have both examples, one for card details and another for the Stripe.js

It's only a PCI violation if you're not compliant with it, it's not forbidden or even prohibited to do it like that, it's a matter of understanding how payments onli

[2020-02-19 18:54] aalicki commented on #159
My apologies! I'm sorry if I came off rude or entitled!

I may try to circle back around and submit a PR regarding this and contribute back. I do think the library has a lot of the cases and needs covered for Stripe and it's very promising.

[2020-02-19 18:56] brunogaspar commented on #159
Not at all, it's all good ;)

[2020-02-26 13:06] AidasK opened #161 "getAccountId is missing from ConfigInterface"
getAccountId should be included in `ConfigInterface` which is present in `Config` class.

[2020-02-26 13:08] AidasK commented on #161
https://github.com/cartalyst/stripe/pull/162

[2020-02-27 11:56] raoikram commented on #155
@brunogaspar I need a little help if you dont mind i was trying to create customer account
I created Customer Through this
  $customer = $stripe->customers()->create([
            'email' => $request['customer_email'],
        ]);

it works after that  i need to send payment on this account so i need to create account
$account = $stripe->account()->create([
                'type' => 'custom',

[2020-02-27 12:09] brunogaspar commented on #155
@raoikram I believe you need to verify your Stripe account in order for your connected accounts to use such capabilities, but, i can be totally wrong hehe

Relevant documentation:
- https://stripe.com/docs/connect/required-verification-information
- https://stripe.com/docs/connect/managing-capabilities

[2020-02-27 12:13] raoikram commented on #155
the account is verified and

studying this already https://stripe.com/docs/connect/managing-capabilities

[2020-02-27 12:15] brunogaspar commented on #155
Then i would reach out to Stripe support, they will be able to support on that problem way better than me :)

[2020-02-27 12:16] raoikram commented on #155
ok thanks i will reach them out :p

[2020-02-27 12:17] brunogaspar commented on #155
Awesome. But do let me know if you still get stuck after their reply, so i can further investigate it if needed.

[2020-02-27 12:30] raoikram commented on #155
Yes I asked them their agent said our technical team will email You after investigating the issue you explained to me

[2020-03-16 10:19] DineshOctal opened #163 "1"

[2020-03-16 10:25] #163 closed

[2020-03-16 10:30] Harrrrry opened #164 "Unable to create account link"
Hello, I am unable to create the account link for capabilities, below is the code.

[code]

Can you please explain how can I use that?

[2020-03-16 12:21] brunogaspar commented on #164
Hey

What's the error you're receiving?

[2020-03-16 12:26] #161 closed

[2020-03-16 12:40] Harrrrry commented on #164
AccountLink file not available but I use the curl and its working now.
According to the API version above 2019-09-09, some feature are not available.
Thanks,

[2020-03-16 12:44] brunogaspar commented on #164
Ah just noticed you're using the example from the Stripe documentation, that example is for their official PHP library, not this one.

For this library you need to use something like:

[code]

[2020-03-18 17:56] reganjohnson opened #165 "Passing amount to payment intents as "cents" getting multiplied by 100"
When creating a payment intent, the `amount` is inconsistent with expected and documented behaviour.

My request:
[code]
Is processed and sent to Stripe as the following parameters:
[code]

Going off documentation for payment intents create
https://cartalyst.com/manual/stripe/2.0#payment-intents

Key | Required | Type | Default | Description
-- | -- | -- | -- | --
amount | required | boolean | req

[2020-03-18 18:17] brunogaspar commented on #165
Hi

You're more than welcome to submit a pull request to address that, it's open source :)

That's true and should say that or in "dollars", though we have a "function" that tries to figure out the value you're passing is in cents or not and converts it to cents if it needs it.
In your case it seems it's not detecting it properly, so you have 2 options:
- Pass in "dollars"
- Pass in cents but disa

[2020-03-18 19:03] reganjohnson commented on #165
Thanks for: `Stripe::disableAmountConverter()`

[2020-03-18 19:03] #165 closed

[2020-03-24 18:16] haithemkdous opened #166 "About Bancontact"
## My question

*Did this package support Boncontact payment ??*

[2020-03-24 18:30] brunogaspar commented on #166
I think so, since it's just a Stripe Source.

So you should be able to perform:

[code]

Be sure to read https://stripe.com/docs/sources/bancontact as well.

Hope it helps!

[2020-04-08 08:26] AidasK commented on #165
Refunds endpoint does not support currency parameter, so this amount converter just creates a bug. I think amount converter should be removed or disabled by default to avoid this odd behaviour. It just creates a potential bug for others.

[2020-04-10 23:11] OneGerman opened #167 "Create customer"
I want to create a customer while I'm charge the customer.
But when I try to create the customer I get the error code: Invalid Object

`$customer = $stripe->customers()->create([
                'id' => auth()->user()->customer_id,
                'email' => auth()->user()->email,
                'shipping[address]' => auth()->user()->street,
                'shipping[name]' => auth()->user()->las

[2020-04-10 23:43] Rhinoo3D commented on #167
I solved it myself.

If anyone want to know:

`'shipping[name]' => auth()->user()->first_name.' '.auth()->user()->last_name,
                'shipping[address][line1]' => auth()->user()->street,
                'shipping[address][city]' => auth()->user()->city,
                'shipping[address][state]' => auth()->user()->state,
                'shipping[address][postal_code]' => auth()->user()->z

[2020-04-11 20:20] brunogaspar commented on #167
Glad you solved it @Rhinoo3D

The issue was that it was missing the `line1` inside the `address` array if i'm not mistaken.

[2020-04-11 20:20] #167 closed

[2020-04-11 20:21] brunogaspar commented on #164
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2020-04-11 20:21] #164 closed

[2020-04-11 20:21] brunogaspar commented on #166
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2020-04-11 20:21] #166 closed

[2020-04-29 11:32] nimabrownlee opened #168 "Whats the proper way to deal with Webhooks?"
Should you register a webhook endpoint and just use `Events`?

`$stripe->events()->all(['type' => ...]);`

Or should you just use a webhook signature verifier and do it the "normal" way?

[2020-04-29 11:36] brunogaspar commented on #168
Hey

Validating the signature is the safest way to go about it, not only for Stripe but also for other types of webhooks you might receive, if those services offer that functionality of course.

[2020-04-29 13:09] nimabrownlee commented on #168
@brunogaspar Ok thanks!

[2020-04-29 13:09] #168 closed

[2020-05-07 07:32] bertdida opened #169 "Error in documentation for Update a subscription"
I believe there's an error in `prorate` parameter description for [Update a subscription](https://cartalyst.com/manual/stripe/2.0#update-a-subscription) section.

The description says _The coupon unique identifier._ which doesn't make sense for a type of `boolean`.

[2020-05-07 07:58] brunogaspar commented on #169
Feel free to submit a [pull request](https://help.github.com/articles/using-pull-requests/) :)

[2020-05-07 19:12] sohil123123 opened #170 "As per Indian regulations, export transactions require a customer name and address"
when i charge my card than get error like...

As per Indian regulations, export transactions require a customer name and address. More info here: https://stripe.com/docs/india-exports

my request parameter are:

$charge = $stripe->charges()->create([
                        'source' => $request->stripeToken,
                        'currency' => 'USD',
                        'amount' => $amount,

[2020-05-07 19:26] brunogaspar commented on #170
Hello

From my understanding, the Customer that this Charge will belong to needs to have that information, it's kinda explained [here](https://stripe.com/docs/india-exports#export-of-services).

I think, but untested for your case, can create a Customer, then create the Charge and pass that Customer ID. You don't need to create the same Customer every time, if it exists, just use the ID that shoul

[2020-05-10 09:46] #169 closed

[2020-05-10 09:46] brunogaspar commented on #170
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2020-05-10 09:46] #170 closed

[2020-05-16 01:47] ChadSikorra opened #172 "[Proposal] Ability to set the base URL for the API endpoint."
There are cases where being able to set the base URL (currently hard-coded in the Api class) could be helpful. For instance, setting it in order to use [stripe-mock](https://github.com/stripe/stripe-mock) for integration type testing.

I imagine setting it as an option in the Config class and defaulting it to its current hard-coded value.

[2020-05-16 09:47] brunogaspar commented on #172
Hey

I haven't used Stripe Mock so i was not aware of such limitation here.

Don't see this being a bad thing to have implemented, therefore, if you're willing to implement some changes to allow this, please do go ahead :)

[2020-05-19 18:52] jamesaspence opened #173 "autocomplete / intellisense support?"
Any plans to help out w/ intellisense or autocomplete? It's kinda a bummer that I cannot type hint a stripe instance and be able to derive methods, return types, etc.

An example:
[code]

Both `balance()` and `current()` will be unknown. On top of that, the return value of `current` is also unknown.

[2020-05-20 14:08] brunogaspar commented on #173
Hey @jamesaspence

Yes, this is something i'm planning to do for the upcoming version 3 release.

I don't have any immediate ETA at the moment to when that will be released though.

[2020-06-29 08:05] thorlucas opened #174 "Incompatible with Stripe's new Products API"
This package seems to not work with Stripe's new products API and produces unexpected behavior.

For example, let's fetch all products.

With Stripe's new API from [stripe-php](https://github.com/stripe/stripe-php):

[code]

However, doing the same with Cartalyst Stripe (using the Laravel facade) returns nothing:

[code]

However, fetching using `find` still works:

[code]

While it does return th

[2020-06-29 08:07] brunogaspar commented on #174
Feel free to submit a [pull request](https://help.github.com/articles/using-pull-requests/) :)

[2020-06-29 08:26] brunogaspar commented on #174
Did a quick run on my end (with a production application), seems to work perfectly fine here

Tried with `2019-12-03` and the latest `2020-03-02` Stripe API version.

The unit tests seems to be passing as well, seems to be something on your end, please investigate.

[2020-06-29 08:59] thorlucas commented on #174
@brunogaspar You're right. It appears what is actually happening is that Cartalyst stripe laravel claims that API key version is optional in the documentation. In my mind, this means that it will always use the latest version. However, it was instead using version `2017-06-05`. Perhaps this should be a separate issue, but I won't open one unless anybody else thinks that's problematic.

[2020-06-29 08:59] #174 closed

[2020-06-29 09:01] GrahamCampbell commented on #174
The default API issue will be resolved in the next major version of this package (a solution is already implemented... basically, make the programmer specify instead of having a default that can't be bumped for BC reasons).

[2020-07-17 08:02] martinjankov commented on #154
@BaiMaoLi It would've been nice to write if you solved it and how before closing the issue

[2020-07-20 11:33] amineameur opened #175 "currency conversion issue"
Hi,
first of all i want to thank you for this awesome package it's very helpful
i just have one  issue with changing the currency from USD to SAR
when i do the amount multiple *100
so in case to charge a client for exemple 200 SAR it charges 20000
i changes the return of the function convert and i return a simple $number without multiple it *100 but i got this error
Amount must convert to at least

[2020-07-20 11:43] brunogaspar commented on #175
You can just disable the amount converter by calling `Stripe::disableAmountConverter()` somewhere on your code before doing the rest of the API calls, that way you should be able to have the value you want.

Hope it helps.

Regards

[2020-07-20 11:43] #175 closed

[2020-07-20 11:58] amineameur commented on #175
hi brunogaspar
i disable the amount converter and  i got this error " invalid intger : 55.00"

[2020-07-20 12:05] brunogaspar commented on #175
Yes, you need to convert the amount to cents yourself now, that way you're responsible of doing such operation and you can ensure the amount you pass does not get modified in any way.

You can also find the list of supported currencies and their minimum and maximum charge amounts [here](https://stripe.com/docs/currencies#minimum-and-maximum-charge-amounts)

[2020-07-22 22:20] GrahamCampbell opened #177 "PSR-7/17/18 Refactor"
Assigned to @GrahamCampbell.

[2020-07-24 22:09] thorlucas opened #178 "Support for Stripe Checkout missing?"
Hi,

It appears that support for Stripe's Checkout system is missing. That is, there's no way to create a [`Session` object.](https://stripe.com/docs/api/checkout/sessions) Or am I missing something?

Thanks,

[2020-07-24 22:17] brunogaspar commented on #178
Just not documented.

[code]

Hope it helps.

[2020-07-24 22:17] #178 closed

[2020-07-24 22:18] thorlucas commented on #178
Thanks! Funny enough, I discovered this a good 30 seconds before you commented this. I was browsing the source because I thought I would have to add it myself and submit a PR :)

[2020-07-24 22:19] brunogaspar commented on #178
No problem, glad you figured it out before my reply :)

There's a chance stuff is missing and we welcome pull requests ;)

[2020-07-25 07:59] thorlucas opened #179 "Verifying webhook signatures"
Hi,

I can't seem to figure out how to verify webhook signatures. From Stripe's docs:

[code]

So I would expect something like this:

[code]

I've looked in the source and can't seem to find the relevant function. Nor can I find a function for constructing an event object from posted parameters at all. Is this included in the library? Or should I [verify the signature manually](https://stripe.com

[2020-07-25 10:57] thorlucas opened #180 "`prepareParameters` can break nested arrays"
Hi,

I noticed a discrepancy between the official Stripe package and this one when creating a Checkout session with multiple line items:

Official stripe package:

[code]

Cartalyst Stripe:
[code]

[2020-07-25 11:04] GrahamCampbell commented on #180
@thorlucas Can you find out the raw http request body which is sent, so we can compare the difference, in both cases?

[2020-07-25 12:30] brunogaspar commented on #180
From a very quick test, the issue comes from [here](https://github.com/cartalyst/stripe/blob/2.4/src/Utility.php#L51)

Unfortunately, i don't have enough time today to look into this.

[2020-07-25 12:34] brunogaspar commented on #179
We don't have any way to validate or verify the legitimacy of webhooks, since this is just an API client, so you would have to build such thing yourself for now.

But can be considered to be added.

[2020-07-25 13:13] GrahamCampbell commented on #179
Something you can do if you don't wanna bother validating webhooks is just to ignore the request body apart from the event ID, and then lookup the event ID on stripe, and use that data. If you also keep a record of which events you have processed already, then your code is safe from injection of invalid events and also from replay attacks.

[2020-07-25 21:43] thorlucas commented on #179
@brunogaspar Thanks! However, the Stripe API provides a method to do this by providing the payload, the signature, and the endpoint secret. I assume their library does the manual verification steps which essentially only involves concatenating the data and computing an HMAC. So I'm not sure what you mean by this is just an API client.

I would submit a PR but I'm not an experienced PHP developer s

[2020-07-25 21:48] thorlucas commented on #180
Ah yes, it looks like this `preg_replace` converts the input to this:

[code]

[2020-07-25 21:55] brunogaspar commented on #180
Yes, correct.

I believe this was mostly because of a bug after updating to Guzzle 6 and something on Stripe itself due to not allowing arrays without proper indexes (mostly numeric), need to run the tests locally to ensure nothing breaks.
This was done 5 years ago or something so i don't remember the specifics.

[2020-07-25 22:59] GrahamCampbell commented on #180
Perhaps the issue was encoding URI query strings. Is that code shared with body encoding?

[2020-07-25 23:04] GrahamCampbell commented on #179
That isn't true. It doesn't matter what response code your server returns, even an error, or if it blocks for ages and stripe gives up and closes the connection. What they might be referring to is that if your server acts in such a way that the stripe webhooks are the authority for which plan a user is subscribed to, etc, then there will be a delay if you are slow to process the webhooks. Sending

[2020-07-25 23:05] GrahamCampbell commented on #179
Stripe itself certainly doesn't block waiting for your server to respond to a hook.

[2020-07-26 00:10] brunogaspar commented on #180
Not sure.

I tried with

[code]

And it worked then i tried with just returning the output of the `http_build_query` and also worked, all tests passed, so i assume that the bug/issue is now gone 🤷‍♂️  lol

Going to merge the branch and tag a release tomorrow.

[2020-07-26 14:59] #180 closed

[2020-07-26 15:50] brunogaspar commented on #180
Released v2.4.2 which should fix the issue.

[2020-07-31 22:08] GrahamCampbell opened #181 "Delete master branch"
It isn't needed. We already have a 2.4 branch, which serves to replace the branch named master. Using proper branch names like `2.4` avoids the need to use branch aliases in the composer.json file, and makes it super clear to contributors what version the branch is.

[2020-07-31 22:09] GrahamCampbell commented on #181
Also, should the 3.x branch be renamed to `3.0`?

[2020-07-31 22:30] brunogaspar commented on #181
No, it's supposed to be 3.x, and why should i delete `master`? Not really following your idea here.

[2020-07-31 22:30] #181 closed

[2020-08-01 01:17] GrahamCampbell commented on #181
Because `3.x` and `master` are both bad branch names, and don't correspond to the version properly: thus requiring branch aliases to tell composer the major and minor version. Given that there is already a 2.4 branch and a 3.x branch, master serves no purpose. It just exists and is out of date. Moreover, the word master is no longer considered politically correct for use in software.

TLDR: Using

[2020-08-01 10:39] GrahamCampbell opened #183 "Tests on master failing"
https://travis-ci.org/github/cartalyst/stripe/jobs/713892762

[2020-08-01 11:21] #183 closed

[2020-08-01 13:53] GrahamCampbell commented on #183
Will be fixed by https://github.com/cartalyst/stripe/pull/185.

[2020-08-01 13:54] GrahamCampbell commented on #183
Note that you might need to also setup connect at https://dashboard.stripe.com/settings/applications. I've setup my test account as follows:

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/2829600/89103057-d9f7a800-d406-11ea-9c48-d38d33eb326b.png">

[2020-08-02 08:37] brunogaspar commented on #173
Just created #186 which adds this for the upcoming 3 release.

It works as expected on VSCode, unsure about the other IDEs.

If you notice something might be missing or wrong, please do let me know.

[2020-08-02 08:38] brunogaspar commented on #177
Can this be closed, or is there something else on your mind about this?

[2020-08-02 08:39] brunogaspar commented on #179
I prefer to not add extra stuff that does not really exist on the Stripe API spec.

There's different ways to perform such check anyway.

Thanks!

[2020-08-02 08:39] #179 closed

[2020-08-02 09:56] #177 closed

[2020-08-02 09:56] GrahamCampbell commented on #177
Yep, this is done now. :)

[2020-08-02 15:07] #173 closed

[2020-08-05 14:22] GrahamCampbell opened #189 "2.4 tests failing on CI"
Do we need to pin the api version on the 2.4 branch differently to master?

[2020-08-05 15:18] brunogaspar commented on #189
Ya probably

[2020-08-06 14:09] brunogaspar commented on #189
Should be addressed, i hope lol

[2020-08-06 14:09] #189 closed

[2020-10-10 13:23] fsmshosting opened #194 "PRICE api is missing"
## Description

*How can I create price*
Currently i am getting error
[code]
## Example

[code]

[2020-10-10 14:42] brunogaspar commented on #194
Feel free to add it :)

[2020-10-10 14:44] fsmshosting commented on #194
I just saw in Stripe they are saying plan is deprecated and they want client to use `price` model instead of plan. Thanks for respond so I will try to add this feature.

[2020-10-10 21:18] brunogaspar commented on #194
ahh sure, it's a relatively new API it seems.

I'm a bit behind on Stripe updates, been a tad busy with other stuff, so if you're up to sending a pull request to add this new API, i would totally appreciate it :)

You can check the main code here https://github.com/cartalyst/stripe and perform the necessary that there.

Thanks!

[2020-11-06 04:54] mokhosh opened #191 "Any advantage over the official package?"
Sorry to ask a question in the issues section, but I didn't see a discussion section on this repo. I also googled this but didn't find anything.

So, are there any advantages in using this package over the official one? I couldn't find anything radically different in the API, and of course the official package has the advantage of being official.

[2020-11-11 21:13] rtfmfm opened #192 "Retrieve all customers - more than 10?"
Hello!
In the package documentation is written that we can retrieve all customers with: `$customers = $stripe->customers()->all();`
but this retrieves the default value of 10. As per stripe documentation, we can retrieve between 1 and 100 customers. Is this possible with this package?

[2020-11-11 21:26] brunogaspar commented on #192
Yes, pass an array as the first and single parameter on the `all()` method and inside the array you can set the limit you want:

[code]

The list of arguments you can pass inside the array is defined here https://cartalyst.com/manual/stripe/2.0#retrieve-all-customers

Hope it helps!

[2020-11-11 21:26] #192 closed, assigned to nobody

[2020-11-11 21:38] rtfmfm commented on #192
Thank you!

[2020-12-08 11:34] surtibhavin6006 opened #193 "Cartalyst\Stripe\AmountConverter is not working"
I have given a amount as 3.26 while creating a plan and returning as 326.
Same as on given amount as 5.00 returns 500.

However, at stripe it is storing 3.26 or 5.00 but response is not getting perfect.

[2020-12-08 14:27] GrahamCampbell commented on #193
That is correct. Stripe uses integers and stores currency in cents.

[2020-12-08 14:31] surtibhavin6006 commented on #193
https://cartalyst.com/manual/stripe/2.0#plans
Here in example , if I pass 5.00,it it give create a plan on stripe with 5.00 ,but return 500 in array response.

[2020-12-08 14:33] surtibhavin6006 commented on #193
okay got it. sry for misunderstanding.

[2020-12-08 14:33] #193 closed, assigned to nobody

[2020-12-17 17:51] IlCallo commented on #178
Note that `line_items` won't accept a Laravel Collection, throwing an obscure error (the item is removed from the params array because not recognized I guess)

[2020-12-23 11:22] #172 closed

[2020-12-23 11:22] #191 closed, assigned to nobody

[2020-12-23 14:30] mokhosh commented on #191
Thank you @brunogaspar That fully answers my question (and the three people who showed interest by liking the question)

[2020-12-23 14:43] levacic commented on #191
Not to sound negative, I liked the question because I was honestly curious about any features offered by this package that aren't offered by Stripe's official one these days.

My assumption is that when it was initially released, it might have actually offered either a nicer API, or some features missing from the official one, or integrations with frameworks, etc. - and as people still might be us

[2020-12-23 15:03] GrahamCampbell commented on #191
If you look at the source code of the two packages, the main difference is obvious: Stripe's package design is poor, clearly not written by PHP professionals. This package uses OOP properly and uses the rock-solid Guzzle HTTP client under the hood.

[2020-12-23 15:04] brunogaspar commented on #191
Sorry guys, i genuinely understand the question (which is a fair one) but i personally prefer to use the issues for bugs, library usage that might not be documented, feature requests and in this case missing Stripe APIs.

But regardless, i could give a fully fledged opinion, however, i haven't looked into the official library in such a long time that i don't really know the state of it, so i don't

[2020-12-23 15:05] brunogaspar commented on #191
Well, @GrahamCampbell kinda beat me to it lol

Thanks @GrahamCampbell !

[2020-12-23 15:35] levacic commented on #191
Thanks for the explanation @brunogaspar!

Yeah, Stripe uses cURL by default, although they do provide an interface to which you can implement a Guzzle-based client if you wish to do so. A lot of their code is auto-generated, though, and people might have strong opinions on that. But this doesn't seem uncommon for PHP SDKs, and it's true that many companies might not actually have experienced PHP d

[2020-12-23 16:29] mokhosh commented on #191
Thanks @GrahamCampbell that did help.

@brunogaspar Thank you for the explanation. Again, sorry to post this in the issues, I would post it in discussions if it was enabled on the repo.

@levacic Same. Maybe if I find the time to review the sources and I throw up while reading Stripe's code I'll change my mind, but for now I only care about functionality.

[2021-02-03 22:46] brunogaspar commented on #194
Released v2.4.3 with this new API thanks to @Patapoof !

Documentation for this will be available in the next couple of days.

Thanks!

[2021-02-03 22:46] #194 closed, assigned to nobody

[2021-02-11 10:37] dominik-wbz opened #198 "Get balance for connect accounts"
As you can see in example https://stripe.com/docs/connect/account-balances you can pass
`['stripe_account' => '{{CONNECTED_STRIPE_ACCOUNT_ID}}'];` to Balance::retrieve

Your Balance model doesn't exceptr any parametrs, how would you get the balance of a connected account?

Thank you,

[2021-02-11 11:13] brunogaspar commented on #198
Hello @dominik-wbz

If i remember correctly, you should be able to do:

[code]

I have not tested it with a connected account, but the `setAccountId()` method is to set the connected account you want to interact with.

[2021-02-11 11:17] dominik-wbz commented on #198
Thank you @brunogaspar I was able to make it work in laravel using

`Stripe::accountId('{{CONNECTED_STRIPE_ACCOUNT_ID}}')->balance()->current()`

[2021-02-11 11:17] #198 closed, assigned to nobody

[2021-02-11 11:25] brunogaspar commented on #198
No problem, glad you got it working :)

[2021-02-18 11:06] alexander-rieder opened #199 "Missing functionality: Mandates"
Hello Everyone,

i really like this package, but i noticed that it lacks the functionality to retrieve mandates from stripe.
https://stripe.com/docs/api/mandates

Am I missing something or is it not yet implemented?

Thanks in advance,
Alex

[2021-02-18 11:11] brunogaspar commented on #199
Hello

This is missing at the moment, but you're more than welcome to send a pull request implementing it, since it seems quite simple to do (just a single endpoint, from their API docs) :)

[2021-02-18 11:49] alexander-rieder commented on #199
that is my first pull request... so be easy with me :)

[2021-02-18 11:51] #199 closed, assigned to nobody

[2021-02-18 11:55] brunogaspar commented on #199
It looked pretty good, thanks!

Will release v2.4.4 in a bit :)

[2021-03-05 18:33] s7thamon opened #201 "Charges All with date paramaters"
How would you correctly specify the `starting_after` and `ending_before` parameters in charges()->all ?

[code]

No matter what I attempt for these, they always return the same number of records which is incorrect for my data set. I did try converting them to stripe's requirement for timestamp but it appears this package may take care of that for you?

[2021-03-05 19:00] brunogaspar commented on #201
Hi,

If i remember correctly, both should use a charge id (object id), not dates, but i might be wrong.

You can check their official API docs for the proper parameters list https://stripe.com/docs/api/charges/list

[2021-03-05 19:01] s7thamon commented on #201
Read the docs wrong and missed those params were for pagination.

[code]

[2021-03-05 19:01] #201 closed, assigned to nobody

[2021-03-07 13:27] rabol opened #202 "Does not get the right version"
$stripe = Stripe::make('key','2020-08-27');

then the version is not 2020-08-27, but an old one:

[code]

[2021-03-07 13:33] brunogaspar commented on #202
Hello

I did a very quick test with

[code]

and it outputs it as expected

[code]

How to reproduce the problem?

[2021-03-07 13:43] rabol commented on #202
Very strange, executed the code 3-4 times and always got the old version in my Laravel app.
I used the debug() function, but I tried dd($stripe) and after that I got the new version

Sorry, must have been some cache

[2021-03-07 13:43] #202 closed, assigned to nobody

[2021-04-01 08:07] masitings opened #203 "Customer Subscriptions"
Hi There,

I would ask about the subscriptions, is there any way to change the subscription that bound to the user in to another user ? My case is i would like to transfer the account to another user, in this case it needs to change the payment and subscription customer also.

[2021-04-01 08:10] brunogaspar commented on #203
Hey

Can you elaborate a bit more on what you mean by "transfer the account to another user"?

[2021-04-01 08:16] masitings commented on #203
So let say i have account with the plan subscription that has started last month and at this moment id like to transfer my subscription to another user which is im no longer the holder of that account. Id like to move the payment and all the things to the new user.

[2021-04-01 08:26] brunogaspar commented on #203
I don't think you can do that, at least not exactly how you want, since Stripe itself does not have (i believe) the ability to transfer those "objects" to different accounts.

What you can probably do instead, and this is without knowing how you track which user belongs to a Stripe customer, is, when you want to perform this transfer from one user to another, you basically set the Stripe customer

[2021-04-01 08:29] masitings commented on #203
Truely make sense man,. Well i guess it possible to change the customer data in subscription instead of change the customer in subscription.

Thank you very much, i really appriciate your time man.

[2021-04-01 08:29] #203 closed, assigned to nobody

[2021-04-01 08:30] brunogaspar commented on #203
No problem. Let me know if you get stuck or need help on anything else in this regard, happy to help.

Have fun :)

[2021-04-18 05:32] Jatinkg commented on #170
Hello,
I am facing the same issue. I do not know How to Code. I am Stuck with this. How can I integrate customer name and address with STRIPE.

[2021-04-18 05:45] rodjsta commented on #170
If you do not know how to code, what help would you like? The answer is above.

[2021-06-01 12:14] kirkcharlesniv opened #205 "[docs] Replace "Cancel a payment intent" to "Capture a payment intent""
https://cartalyst.com/manual/stripe/2.0#cancel-a-payment-intent-2

![Screen Shot 2021-06-01 at 8 14 04 PM](https://user-images.githubusercontent.com/19856377/120321463-eb0a9180-c315-11eb-8497-e859fe235e7d.png)

[2021-06-01 15:03] brunogaspar commented on #205
Should be addressed, thanks for the heads up.

[2021-06-01 15:03] #205 closed, assigned to nobody

[2021-09-01 10:58] AidasK opened #206 "Feat: Pager should be implemented with generators"
Currently pager loads entire dataset in memory which is not always possible when you have millions of records. To fix this pager should be implemented with generators.

https://github.com/cartalyst/stripe/blob/v2.2.0/src/Pager.php#L58

[2021-09-01 11:08] brunogaspar commented on #206
Hey

That's the current expected behaviour, however, as your business grows, the amount of data could be very large, so it it would be nice to have such feature.

Feel free to submit a pull request that does not break the current implementation, even if it's a new method :)

[2021-10-06 13:15] ZejdCicak opened #207 "Making refunds using payment intent id"
Can someone please tell me if this is possible since by looking at Stripe API references it says :
`To refund a payment using the API, create a Refund and provide the ID of the charge or PaymentIntent to be refunded.`

But I can't seem to find an option to do it with this package, and providing payment intent id in
`$stripe->refunds()->create();`
Throws an error on Stripe saying that it can't loca

[2021-10-06 21:31] ZejdCicak commented on #207
Managed to solve this by getting a payment intent and then accessing a charge id from charges array, but I still believe there should be an option to send payment intent id while making a refund.

I have checked your 3.x-dev branch and there too you didn't specify payment intent id in parameters, but again only charge id.

[2021-10-06 21:52] brunogaspar commented on #207
Hey!

The refunds implementation was done around **charges** (when there was only charges and nothing else), however, i think we can make that method to determine if the provided ID is for a Charge or for a Payment Intent, since Stripe prefixes the ID's in a "predictable" way i think we are able to achieve that. Unless there's other alternatives?

@ZejdCicak Do you want to submit a pull request wi

[2021-10-06 22:01] ZejdCicak commented on #207
I will take a look at it tomorrow, a bit more around your dev codebase to see how you have done things in the past, and if I feel confident enough to make a pull request, since I have never done that on an open source project, I will let you know if that is ok with you.

On which branch do you want the PR to be made? 3.x or 2.4?

[2021-10-06 22:30] brunogaspar commented on #207
It's all good, that's why there's code reviews :)

Please send to 2.4 branch.

Thank you!

[2021-10-07 12:19] ZejdCicak commented on #207
I have opened a pull request so see if that is good enough.

[2021-10-08 09:04] ZejdCicak commented on #207
Any idea when you might tag this so I can use just composer update to get it?
Also if i got it right this will reflect in the stripe-laravel as well right, since that is only a Facade for laravel?

[2021-10-08 09:14] brunogaspar commented on #207
I need to address some failing tests before tagging, so it might take a bit more time to take care of them.

Yes, that's correct.

[2021-10-09 11:26] brunogaspar commented on #207
Released v2.4.6

Thank you for the pull request @ZejdCicak !

[2021-10-09 11:26] #207 closed, assigned to nobody

[2022-02-02 19:28] mavrickdeveloper opened #209 "Verify source not working ?"
### Your Environment

- OS and Version: Ubuntu 18
- PHP Version: 7.4
- Stripe Laravel Version: latest

### Expected behavior

VerifySource should work when provided 2 amounts

https://stripe.com/docs/api/customer_bank_accounts/verify

### Actual behavior

Undefined property: Cartalyst\Stripe\Stripe::$customers

### Steps to reproduce

[code]

[2022-02-02 20:25] brunogaspar commented on #209
Hi there @sam-zed

The documentation you're linking is from the official Stripe API docs, and their documentation has examples of their official PHP SDK, therefore, that's why it does not work :)

Here's how you can do it with this library:

[code]

Hope it helps :)

[2022-02-04 13:12] mavrickdeveloper commented on #209
it helped indeed, thanks for your comment @brunogaspar

[2022-02-10 11:39] brunogaspar commented on #209
Great! I'm going to close this one now, but feel free to reach out if you encounter any other problems :)

[2022-02-10 11:39] #209 closed, assigned to nobody

[2022-02-16 09:10] ridetothefuture opened #210 "Creating Plan is not working"
Hello,  first of all, I want to say thanks for creating this amazing PHP package for stripe.

While using this package I found below 2 errors:

1) I tried to create a plan like this but I got an error. The error was related to the name attribute we're passing to the function while creating the plan.  Below is the exact error.

[code]

2) After removing the name from the attributes array, I faced a

[2022-02-16 14:08] suwardany commented on #210
Hi,

You are referencing the official stripe api docs, the documentation for this package can be found at https://cartalyst.com/manual/stripe/2.0

Hope that helps!

[2022-03-08 14:56] rezaulhreza opened #211 "PaymentIntent could not be captured because it has a status of requires_action"
I am getting the below error
 ```This PaymentIntent could not be captured because it has a status of requires_action. Only a PaymentIntent with one of the following statuses may be captured: requires_capture. ```
This is my code to create a 3d secure payment gateaway using stripe.
[code]

[2022-03-08 15:03] brunogaspar commented on #211
Have you tried to confirm the payment intent before calling the `capture()` method?

[2022-03-08 15:14] rezaulhreza commented on #211
Can you please guide me how to achieve that?

[2022-03-08 15:53] brunogaspar commented on #211
I see your passing `confirm => true` but i'm unsure why it's giving a require actions error, so trying to confirm "manually" after the payment intent creating could help (or not):

[code]

You can also try to change/remove some of the parameters you send like the confirm, confirmation_method, etc.. and check the status of the payment intent after those changes.

If the above doesn't help, you'll n

[2022-03-08 16:22] rezaulhreza commented on #211
after doing the below
[code]

[2022-03-08 16:32] rezaulhreza commented on #211
ok now that part is gone,
i am getting a new error now. But the weird thing is it is updating on the stripe dashboard and mark as paid. But on the chekout page, it is throwing error
```This PaymentIntent could not be captured because it has already been captured.```

I have updated the code to below:

[code]

[2022-03-08 17:13] brunogaspar commented on #211
Give me a few i'll try to reproduce and sort it for you

[2022-03-08 17:15] rezaulhreza commented on #211
Thanks I will wait.

Star for that

[2022-03-08 17:20] brunogaspar commented on #211
Try the following:

[code]

Basically:
- I've removed the `'source' => $token['id']` when creating the customer
- When creating the payment intent:
    - Ensured that the `capture_method` was set to manual
    - Pass the source (token you created earlier) to the payment intent via the `payment_method_data` parameter

You might need to fine tune the code but it seems to work for me.

[2022-03-08 17:23] brunogaspar commented on #211
If you keep the auto capture when creating the payment intent, you don't need the charge part though (because the card would be auto captured/charged), and you should be able to access the charge id from the `$paymentIntent` response.

That could remove one extra API call to Stripe :)

[2022-03-09 02:24] rezaulhreza commented on #211
I copied your code and got the error
```This PaymentIntent could not be captured because it has a status of requires_action. Only a PaymentIntent with one of the following statuses may be captured: requires_capture```

 ``` $stripe->paymentIntents()->confirm($paymentIntent['id'], ['payment_method' => 'pm_card_visa']); ```

the ```pm_card_visa``` gets 424242 card (this works but only with the card

[2022-03-09 02:25] rezaulhreza commented on #211
For more info, my blade file loos like this... This is withina form.. as the issue is related with the card details, I have provided only them.

On a quick note:: I am using laravel livewire(Just incase if there are different approaches)
<div class="w-full mx-auto rounded-lg bg-white shadow-lg p-5 text-gray-700" style="max-width: 600px">

        <div class="mb-3">
            <label for="card-no"

[2022-03-09 02:32] rezaulhreza commented on #211
I have tried another approach to get card details:
[code]

---------------------------------------------
==============
---------------------------------------------

However, this time I am getting:

```Invalid string: {:id=>"tok_1KbFGMFF7RMxVxWd4zb7Fryf", :object=>"token", :card=>{:id=>"card_1KbFGMFF7RMxVxWdkce903N3", :object=>"card", :brand=>"Visa", :country=>"DE", :cvc_check=>"unchecked", :exp

[2022-03-09 08:49] brunogaspar commented on #211
You don't need to confirm the payment manually anymore, since you're passing `confirm = true` when creating the payment intent, therefore, the following line can be removed:

[code]

About your invalid string error, you're passing the entire `$token` array when confirm the payment intent, but as i mentioned, you don't need to manually confirm.

This is the code i've used and it works:

[code]

You

[2022-03-09 08:49] #211 closed, assigned to nobody

[2022-03-09 15:25] #210 closed, assigned to nobody

[2022-03-09 15:26] #206 closed, assigned to nobody

[2022-06-01 17:09] s7thamon opened #214 "400 Error, no Exception Message"
I'm creating a checkout session with a large number of line_items in a try/catch. Normally an exception message is gathered if there are any issues but in this instance when there are a large number of line_items, somewhere around 40, no exception message is captured. Trying to figure out if this is an issue on Stripe's end or not. Nothing in their documentation indicates there is any limit there

[2022-06-02 18:25] s7thamon commented on #214
According to Stripe support "The limit is 100 line items". I'm well under that, hmm.

[2022-06-02 19:56] brunogaspar commented on #214
Thanks for the report.

I'll try to reproduce the issue and adjust the error handler so it at least gives a better output.

For the limit itself, if that's true, and you're under the limit, then something is off somewhere (wouldn't surprise me to be on Stripe end to be honest).

[2022-06-06 15:25] s7thamon commented on #214
After some back and forth with Stripe, they're not seeing anything. I can verify the request is making it out to their API on my end via tcpdump:
[code]

Their response back is:

[2022-06-10 15:09] s7thamon commented on #214
We had a client that needed to push some large charges through. Don't know if it helps this issue out but using the official Stripe php sdk directly does not have the problem.

[code]

[2022-06-10 15:45] brunogaspar commented on #214
Hello again @s7thamon

I've debugged this and i understand the cause of the problem.

Pretty much the problem is that, the current way of sending the payload is through the query string (which is supported by Stripe), so this is of course reaching the limit of the size of the entire url, so it's not related to Stripe in any way.

I'll try to address this limitation in the next few days, when i hav

[2022-07-05 00:35] francoisburdy opened #216 "Allow refunds using py_ payment token"
Hey!

Since 2.4.6, it is possible to make refunds from Payment Intents (pi_) tokens, while the previous version only allowed to use charges tokens, which is great.

However it seems there is a downside in the new implementation that makes impossible to create a refund using a py_ token even though the Stripe API allows it and treat it as a charge token.

In my case, I use Sepa Debits and the API g

[2022-07-05 07:46] brunogaspar commented on #216
So `ch_` and `py_` are for charges? Do you know if there's any other prefixes?

I don't mind having it switched around, as long as everything passes :)

You up for doing a pull request?

Thank you!

[2022-07-06 21:58] francoisburdy commented on #216
No idea if there are other prefixes that can be used, as the stripe documentation is not extensive on this topic.

All I can say is that according to my tests, the post refund endpoint behaves the same with py_ and ch_ tokens :)

See my pull request https://github.com/cartalyst/stripe/pull/217